force-app/main/default/flows/Account_approval_for_AJ_and_katherine.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>manager_is_AJ_or_Katherine_Yager</name>
        <label>Manager is AJ or Katherine Yager</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_AJ_or_Katherine_Yager</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner.Manager.Username</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>aj@lgads.tv.qa</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner.Manager.Username</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>katherine@lgads.tv.qa</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Dual_approval_field</targetReference>
            </connector>
            <label>is AJ or Katherine Yager</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Account approval for AJ and {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account approval for AJ and katherine</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Dual_approval_field</name>
        <label>Update Dual approval field</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Dual_Approval__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>manager_is_AJ_or_Katherine_Yager</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
