force-app/main/default/flows/Billing_form_email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Form_email</name>
        <label>Form email</label>
        <locationX>50</locationX>
        <locationY>947</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Update_account</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>recipientemailaddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>add_email</name>
        <label>add email</label>
        <locationX>138</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>Seller_Email</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>assign_email_Ids.Seller__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_email_Ids</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_for_already_present_opportunity</name>
        <label>check for already present opportunity</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>has_opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_opportunities</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_seller_records</targetReference>
            </connector>
            <label>No opportunity</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>recipientemailaddress</name>
        <dataType>String</dataType>
        <expression>{!$Record.Main_Point_Of_Contact_Primary__r.Email}&amp;&apos;,&apos;&amp;{!$Record.Owner.Email}&amp;&apos;,&apos;&amp;{!$Record.CSM__r.Email}&amp;&apos;,&apos;&amp;{!Seller_Email}</expression>
    </formulas>
    <interviewLabel>Billing form email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Billing form email</label>
    <loops>
        <name>assign_email_Ids</name>
        <label>assign email Ids</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <collectionReference>Get_seller_records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>add_email</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Form_email</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_opportunities</name>
        <label>Get opportunities</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_for_already_present_opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_seller_records</name>
        <label>Get seller records</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign_email_Ids</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity_Seller__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_account</name>
        <label>Update account</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <inputAssignments>
            <field>Billing_Form_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Account</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_opportunities</targetReference>
        </connector>
        <filterFormula>AND(
  OR(
    ISBLANK(TEXT( {!$Record.Account.Payment_Method__c} )),
    ISBLANK(TEXT( {!$Record.Account.PO_Required__c} )),
    ISBLANK(TEXT( {!$Record.Account.Invoice_upload_on_client_portal__c} )),
    ISNULL({!$Record.Main_Point_Of_Contact_Primary__c}),
    ISNULL({!$Record.Primary_Billing_Contact__c})
  ),
  {!$Record.Probability} &gt;= 0.90,
  NOT({!$Record.Account.Billing_Form_Sent__c})
)</filterFormula>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>Body</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Welcome to LG Ad Solutions!&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;We kindly request you to fill out our&amp;nbsp;&lt;/span&gt;&lt;a href=&quot;https://lgads1.my.site.com/billingform/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 14px;&quot;&gt;onboarding form&lt;/a&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;, including details on how to invoice you.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Thank you for choosing us!&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Subject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>LG Ad Solutions Client Onboarding Form</text>
    </textTemplates>
    <variables>
        <name>Seller_Email</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
