force-app/main/default/flows/Billing_Information_Form.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>add_customer_contact</name>
        <label>add customer contact</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>BIInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>customercontact3</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>BI_values_assignment</name>
        <label>BI values assignment</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>BIaccountspayable.Instructions_and_Login_Credentials__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Instructions_and_Login_Credentials</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BIaccountspayable.Need_PO_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Does_your_company_require_a_PO_number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BIaccountspayable.Payment_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>What_is_your_company_s_preferred_payment_method</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BIaccountspayable.Portal_URL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Portal_URL</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BIaccountspayable.Upload_Invoices__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Does_your_company_need_the_invoices_uploaded_to_any_portal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BIaccountspayable.Role_Title__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Title_Role1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BIaccountspayable.Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Name1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BIaccountspayable.Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Email1.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BIaccountspayable.Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Phone1ip</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BIcustomercontact.Instructions_and_Login_Credentials__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Instructions_and_Login_Credentials</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BIcustomercontact.Need_PO_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Does_your_company_require_a_PO_number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BIcustomercontact.Payment_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>What_is_your_company_s_preferred_payment_method</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BIcustomercontact.Portal_URL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Portal_URL</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BIcustomercontact.Upload_Invoices__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Does_your_company_need_the_invoices_uploaded_to_any_portal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BIcustomercontact.Role_Title__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Title_Role2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BIcustomercontact.Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Name2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BIcustomercontact.Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Phoneip2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BIcustomercontact.Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Email2.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>customercontact3.Instructions_and_Login_Credentials__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Instructions_and_Login_Credentials</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>customercontact3.Need_PO_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Does_your_company_require_a_PO_number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>customercontact3.Payment_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>What_is_your_company_s_preferred_payment_method</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>customercontact3.Portal_URL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Portal_URL</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>customercontact3.Upload_Invoices__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Does_your_company_need_the_invoices_uploaded_to_any_portal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>customercontact3.Role_Title__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Title_Role</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>customercontact3.Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Name3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>customercontact3.Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Phoneip3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>customercontact3.Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Email3.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BIInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>BIaccountspayable</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BIInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>BIcustomercontact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_for_customer_contact</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ACH</name>
        <choiceText>ACH</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ACH</stringValue>
        </value>
    </choices>
    <choices>
        <name>Check</name>
        <choiceText>Check</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Check</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Wire</name>
        <choiceText>Wire</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Wire</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>check_for_customer_contact</name>
        <label>check for customer contact</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Create_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Name3</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>add_customer_contact</targetReference>
            </connector>
            <label>is not null</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>accountpayablerole</name>
        <dataType>String</dataType>
        <expression>&quot;Account Payable&quot;</expression>
    </formulas>
    <formulas>
        <name>customercontactrole</name>
        <dataType>String</dataType>
        <expression>&quot;Customer Contact&quot;</expression>
    </formulas>
    <interviewLabel>Billing Information Form {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Billing Information Form</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Records</name>
        <label>Create Records</label>
        <locationX>182</locationX>
        <locationY>650</locationY>
        <connector>
            <targetReference>Finish_Page</targetReference>
        </connector>
        <inputReference>BIInsert</inputReference>
    </recordCreates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Billing_Information_Form</name>
        <label>Billing Information Form</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>BI_values_assignment</targetReference>
        </connector>
        <fields>
            <name>Billing_Contact_1</name>
            <fieldText>Billing Contact 1 (Accounts/Finance Contact)</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Billing_Contact_1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Name1</name>
                    <dataType>String</dataType>
                    <fieldText>Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Billing_Contact_1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Title_Role1</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>accountpayablerole</elementReference>
                    </defaultValue>
                    <fieldText>Title/Role</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Billing_Contact_1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Email1</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Billing_Contact_1_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Phone1ip</name>
                    <dataType>Number</dataType>
                    <fieldText>Phone</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Billing_Contact_2</name>
            <fieldText>Billing Contact 2 (Business Contact)</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Billing_Contact_2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Name2</name>
                    <dataType>String</dataType>
                    <fieldText>Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Billing_Contact_2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Title_Role2</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>customercontactrole</elementReference>
                    </defaultValue>
                    <fieldText>Title/Role</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Billing_Contact_2_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Email2</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Billing_Contact_2_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Phoneip2</name>
                    <dataType>Number</dataType>
                    <fieldText>Phone</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Business_Contact_3</name>
            <fieldText>Business Contact 3</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Business_Contact_3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Name3</name>
                    <dataType>String</dataType>
                    <fieldText>Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Business_Contact_3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Title_Role</name>
                    <dataType>String</dataType>
                    <fieldText>Title/Role</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Business_Contact_3_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Email3</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Business_Contact_3_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Phoneip3</name>
                    <dataType>Number</dataType>
                    <fieldText>Phone</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>What_is_your_company_s_preferred_payment_method</name>
            <choiceReferences>ACH</choiceReferences>
            <choiceReferences>Wire</choiceReferences>
            <choiceReferences>Check</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What is your company&apos;s preferred payment method?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Does_your_company_require_a_PO_number</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Does your company require a PO number?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Does_your_company_need_the_invoices_uploaded_to_any_portal</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Does your company need the invoices uploaded to any portal?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Portal_URL</name>
            <dataType>String</dataType>
            <fieldText>Portal URL</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Does_your_company_need_the_invoices_uploaded_to_any_portal</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Instructions_and_Login_Credentials</name>
            <fieldText>Instructions and Login Details</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Does_your_company_need_the_invoices_uploaded_to_any_portal</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Finish_Page</name>
        <label>Finish Page</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Finish_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;Details saved Successfully. Please close the window.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Billing_Information_Form</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>AccountsPayable</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial, sans-serif; font-size: 11pt;&quot;&gt;Accounts Payable&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>BIaccountspayable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Billing_Information_form_entry__c</objectType>
    </variables>
    <variables>
        <name>BIcustomercontact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Billing_Information_form_entry__c</objectType>
    </variables>
    <variables>
        <name>BIInsert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Billing_Information_form_entry__c</objectType>
    </variables>
    <variables>
        <name>customercontact3</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Billing_Information_form_entry__c</objectType>
    </variables>
</Flow>
