force-app/main/default/flows/Calculate_Rollup_Fields_for_Opportunities.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Copy_2_of_TotalAmount</name>
        <label>Copy 2 of TotalAmount</label>
        <locationX>270</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>TotalAmount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Copy_1_of_GetAllChild.Amount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_GetAllChild</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>TotalAmount1</name>
        <label>TotalAmount</label>
        <locationX>798</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>TotalAmount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GetAllChild.Amount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetAllChild</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckParentOpptyIsBlank</name>
        <label>CheckParentOpptyIsBlank</label>
        <locationX>446</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Get_AllChildOppty</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_CheckParentOpptyIsBlank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parent_Opportunity__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Get_AllChildOppty</targetReference>
            </connector>
            <label>Outcome 1 of CheckParentOpptyIsBlank</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckRollUpFields</name>
        <label>CheckRollUpFields</label>
        <locationX>710</locationX>
        <locationY>839</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_CheckRollUpFields</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TotalAmount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateParentOppty</targetReference>
            </connector>
            <label>Outcome 1 of CheckRollUpFields</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_CheckRollUpFields</name>
        <label>Copy 1 of CheckRollUpFields</label>
        <locationX>182</locationX>
        <locationY>839</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Outcome_1_of_CheckRollUpFields</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TotalAmount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_UpdateParentOppty</targetReference>
            </connector>
            <label>Copy 1 of Outcome 1 of CheckRollUpFields</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>OPPURL</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_600}, FIND(&apos;/services&apos;, {!$Api.Partner_Server_URL_600})) &amp; {!$Record.Id}</expression>
    </formulas>
    <formulas>
        <name>TotalcommitedAmount</name>
        <dataType>Number</dataType>
        <expression>(0.90 * {!$Record.Total_Commited_Amount__c})</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Calculate Rollup Fields for Opportunities {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Calculate Rollup Fields for Opportunities</label>
    <loops>
        <name>Copy_1_of_GetAllChild</name>
        <label>Copy 1 of GetAllChild</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <collectionReference>Copy_1_of_Get_AllChildOppty</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_2_of_TotalAmount</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Copy_1_of_CheckRollUpFields</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>GetAllChild</name>
        <label>GetAllChild</label>
        <locationX>710</locationX>
        <locationY>539</locationY>
        <collectionReference>Get_AllChildOppty</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>TotalAmount1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CheckRollUpFields</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Copy_1_of_Get_AllChildOppty</name>
        <label>Copy 1 of Get AllChildOppty</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_GetAllChild</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Parent_Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.Parent_Opportunity__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_AllChildOppty</name>
        <label>Get AllChildOppty</label>
        <locationX>710</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetAllChild</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Parent_Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Parent_Opportunity__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_UpdateParentOppty</name>
        <label>Copy 1 of UpdateParentOppty</label>
        <locationX>50</locationX>
        <locationY>947</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.Parent_Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>TotalAmount</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateParentOppty</name>
        <label>UpdateParentOppty</label>
        <locationX>578</locationX>
        <locationY>947</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Parent_Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>TotalAmount</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CheckParentOpptyIsBlank</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Parent_Opportunity__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Parent_Opportunity__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>BodyforTotalBookedAmountNearingTotalCommittedAmount</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;color: rgb(28, 28, 28); font-family: Inter, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;This email is to let you know that the Total Booking Amount has reached 90% or more of the Total Committed Amount. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(28, 28, 28); font-family: Inter, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Here are the details:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(28, 28, 28); font-family: Inter, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Opportunity Name: &lt;/span&gt;&lt;a href=&quot;{!OPPURL}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(28, 28, 28); font-family: Inter, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.Name}  &lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(28, 28, 28); font-family: Inter, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Total Booking Amount: {!$Record.Amount}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(28, 28, 28); font-family: Inter, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Total Committed Amount: {!$Record.Total_Commited_Amount__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(28, 28, 28); font-family: Inter, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Parent Opportunity Name: {!$Record.Parent_Opportunity__r.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(28, 28, 28); font-family: Inter, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Please take the necessary actions. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(28, 28, 28); font-family: Inter, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Best regards,&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Subject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Booked Amount is Nearing/Over Committed Amount - {!$Record.Name}</text>
    </textTemplates>
    <variables>
        <name>ContractEndDate1</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContractStartDate1</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmaillistforTotalBookingAmount</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmaillistforTotalBookingAmount2</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TotalAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
