force-app/main/default/flows/Case_Assignments_Alerts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CaseCloseEmail</name>
        <label>CaseCloseEmail</label>
        <locationX>2844</locationX>
        <locationY>3521</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Owner:User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>EmailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBodyforcaseclosure</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>checkqueueSend_Email_with_HTML_Body</name>
        <label>checkqueueSend Email with HTML Body</label>
        <locationX>2844</locationX>
        <locationY>3221</locationY>
        <actionName>EmailSender</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>checkcaseStatus</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>caseId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>caseNumber</name>
            <value>
                <elementReference>$Record.CaseNumber</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>EmailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>htmlBody</name>
            <value>
                <elementReference>OwnerChangeEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordTypeName</name>
            <value>
                <elementReference>$Record.RecordType.Name</elementReference>
            </value>
        </inputParameters>
        <nameSegment>EmailSender</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Email_for_closed</name>
        <label>Email for closed</label>
        <locationX>1018</locationX>
        <locationY>647</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>checkAmountGreatherThan350k</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>harris.kratka@lgads.tv.invalid </stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>EmailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBodyforCaseStatusChange</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Email_for_Status_change</name>
        <label>Email for Status change</label>
        <locationX>490</locationX>
        <locationY>755</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>checkAmountGreatherThan350k</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>SalesdevEmaillist</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>EmailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBodyforCaseStatusChange</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Email_for_Status_change2</name>
        <label>Email for Status change2</label>
        <locationX>754</locationX>
        <locationY>755</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>checkAmountGreatherThan350k</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>EmailforAM</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>EmailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBodyforCaseStatusChange</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Email_Notification_for_critical_priority</name>
        <label>Email Notification for critical priority</label>
        <locationX>3042</locationX>
        <locationY>2429</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Alert_for_Exposure_Log</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>Emaillistforcriticalpriority</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>EmailSubjectCriticalTechOps</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBodyforcasePriority</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Email_NotificationsRFI</name>
        <label>Email NotificationsRFI</label>
        <locationX>1546</locationX>
        <locationY>1187</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>checkOppownerAmid</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>listofEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>EmailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Emailbodyforcasecreation</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Email_NotificationsRFP_Less_than_350</name>
        <label>Email NotificationsRFP &lt; 350</label>
        <locationX>886</locationX>
        <locationY>1163</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Update_Owner_to_AM</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>listofEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>EmailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Emailbodyforcasecreation</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Email_NotificationsRFPGreaterThan350</name>
        <label>Email NotificationsRFP &gt;350</label>
        <locationX>622</locationX>
        <locationY>1379</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Is_New_Case</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>EmailListForRFPAbove350</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>EmailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Emailbodyforcasecreation</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Email_to_AM</name>
        <label>Email to AM</label>
        <locationX>3042</locationX>
        <locationY>755</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Check_For_Techops_Assignee</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>Techopslist</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>EmailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Emailbodyforcasecreation</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>makegood_status_change</name>
        <label>makegood status change</label>
        <locationX>4978</locationX>
        <locationY>1271</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>makegood_status_change2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>InReviewApprovedNotApprovedEmaillistforMakegoods</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>EmailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBodyforCaseStatusChange</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>makegood_status_change2</name>
        <label>makegood status change2</label>
        <locationX>4978</locationX>
        <locationY>1379</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>ownerChange</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>InReviewApprovedNotApprovedEmaillistforMakegoods2</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>EmailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBodyforCaseStatusChange</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Notify_Dinesh_Rishab</name>
        <label>Notify Dinesh,Rishab</label>
        <locationX>4010</locationX>
        <locationY>755</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>CheckAM</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>ListofEmailsforFeasibilityNew</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>EmailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Emailbodyforcasecreation</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Notify_For_Feasibility_Status_Other_Than_New</name>
        <label>Notify For Feasibility Status Other Than New</label>
        <locationX>4274</locationX>
        <locationY>755</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>CheckAM</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>Feasibilitylistforotherthannew</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>EmailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBodyforCaseStatusChange</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>On_case_close</name>
        <label>On case close</label>
        <locationX>5242</locationX>
        <locationY>1271</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>On_case_close2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>closecaselistforMakegoods</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>EmailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBodyforcaseclosure</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>On_case_close2</name>
        <label>On case close2</label>
        <locationX>5242</locationX>
        <locationY>1379</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>ownerChange</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>closecaselistforMakegoods2</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>EmailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBodyforcaseclosure</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>On_case_Creation</name>
        <label>On case Creation</label>
        <locationX>4714</locationX>
        <locationY>1271</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>On_case_Creation_2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>MakegoodsnewEmail1</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>EmailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Emailbodyforcasecreation</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>On_case_Creation_2</name>
        <label>On case Creation 2</label>
        <locationX>4714</locationX>
        <locationY>1379</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>On_case_Creation_3</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>MakegoodsnewEmail2</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>EmailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Emailbodyforcasecreation</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>On_case_Creation_3</name>
        <label>On case Creation 3</label>
        <locationX>4714</locationX>
        <locationY>1487</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>MakegoodsnewEmail3</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>EmailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Emailbodyforcasecreation</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>ReadyforReview_Email_NotificationsRFI</name>
        <label>ReadyforReview Email NotificationsRFI</label>
        <locationX>1986</locationX>
        <locationY>863</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>checkcaseCreatedBelow7days</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>listofEmailsforReadyforReview</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>EmailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailbodyforReview</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_Action_20</name>
        <label>Send Email Action 20</label>
        <locationX>3042</locationX>
        <locationY>2837</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>ownerChange</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>ExposureLoglist</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>ExposureLogssubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>ExposureLogsBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SendCustomNotification</name>
        <label>SendCustomNotification</label>
        <locationX>1920</locationX>
        <locationY>2087</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>ownerChange</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification_Id.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>RecipientsIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>CheckNewCase</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>NotificationBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Add_Emails_for_RFP</name>
        <label>Add Emails for RFP</label>
        <locationX>886</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>listofEmail</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Opportunity__r.CSM__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Email_NotificationsRFP_Less_than_350</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addedEmails</name>
        <label>addedEmails</label>
        <locationX>1678</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>listofEmail</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>getAnnaMariaStathis</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>listofEmail</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>KellyMcMahonEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>listofEmail</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NatalyBabainEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>listofEmail</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Opportunity__r.CSM__r.AM_Lead__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checkListOfemails</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addedEmails2</name>
        <label>addedEmails2</label>
        <locationX>2118</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>listofEmailsforReadyforReview</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>nataly.babain@lgads.tv  </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>listofEmailsforReadyforReview</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>annamaria@lgads.tv </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>listofEmailsforReadyforReview</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>kellym@lgads.tv</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checkListOfemails2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_AM</name>
        <label>Assign AM</label>
        <locationX>754</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>EmailforAM</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Opportunity__r.CSM__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Email_for_Status_change2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Email_to_Sales_Queue</name>
        <label>Assign Email to Sales Queue</label>
        <locationX>622</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>EmailListForRFPAbove350</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>aj@lgads.tv</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmailListForRFPAbove350</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>katherine@lgads.tv</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmailListForRFPAbove350</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>harris.kratka@lgads.tv</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmailListForRFPAbove350</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>ian.maio@lgads.tv</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmailListForRFPAbove350</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>marissa.lieberman@lgads.tv</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Email_NotificationsRFPGreaterThan350</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Exposure_Log_list</name>
        <label>Assign Exposure Log list</label>
        <locationX>3042</locationX>
        <locationY>2729</locationY>
        <assignmentItems>
            <assignToReference>ExposureLoglist</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>kalyn.luten@lgads.tv</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExposureLoglist</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>jena@lgads.tv</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExposureLoglist</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>nate.mitchell@lgads.tv</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Email_Action_20</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_In_Review_Approved_Not_Approved_Email_List</name>
        <label>Assign In Review/Approved/Not Approved Email List</label>
        <locationX>4978</locationX>
        <locationY>1163</locationY>
        <assignmentItems>
            <assignToReference>InReviewApprovedNotApprovedEmaillistforMakegoods</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>annamaria@lgads.tv </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InReviewApprovedNotApprovedEmaillistforMakegoods</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>dave@lgads.tv</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InReviewApprovedNotApprovedEmaillistforMakegoods</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Opportunity__r.Owner.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InReviewApprovedNotApprovedEmaillistforMakegoods</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Opportunity__r.CSM__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InReviewApprovedNotApprovedEmaillistforMakegoods</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.CreatedBy.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InReviewApprovedNotApprovedEmaillistforMakegoods2</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Operations_Leader__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InReviewApprovedNotApprovedEmaillistforMakegoods2</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Opportunity__r.CSM__r.AM_Lead__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InReviewApprovedNotApprovedEmaillistforMakegoods2</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_CM.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>makegood_status_change</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Sales_Queue</name>
        <label>Assign Sales Queue</label>
        <locationX>490</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>SalesdevEmaillist</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>harris.kratka@lgads.tv.invalid </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Email_for_Status_change</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_AM_And_Sales</name>
        <label>Assign to AM And Sales</label>
        <locationX>4274</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Feasibilitylistforotherthannew</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Opportunity__r.CSM__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Feasibilitylistforotherthannew</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Opportunity__r.Owner.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Notify_For_Feasibility_Status_Other_Than_New</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Email_list_for_makegoods_new</name>
        <label>Email list for makegoods new</label>
        <locationX>4714</locationX>
        <locationY>1163</locationY>
        <assignmentItems>
            <assignToReference>MakegoodsnewEmail1</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>kellym@lgads.tv</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MakegoodsnewEmail1</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>adam@lgads.tv</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MakegoodsnewEmail1</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>jason@lgads.tv</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MakegoodsnewEmail1</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>aj@lgads.tv</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MakegoodsnewEmail2</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>katherine@lgads.tv</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MakegoodsnewEmail2</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>ed@lgads.tv</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MakegoodsnewEmail2</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>nataly.babain@lgads.tv</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MakegoodsnewEmail2</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>dave@lgads.tv</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MakegoodsnewEmail2</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>annamaria@lgads.tv </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MakegoodsnewEmail3</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Opportunity__r.CSM__r.AM_Lead__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MakegoodsnewEmail3</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Opportunity__r.CSM__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MakegoodsnewEmail3</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Opportunity__r.Owner.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MakegoodsnewEmail3</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Operations_Leader__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MakegoodsnewEmail3</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_CM.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>On_case_Creation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Email_to_close_case_list</name>
        <label>Email to close case list</label>
        <locationX>5242</locationX>
        <locationY>1163</locationY>
        <assignmentItems>
            <assignToReference>closecaselistforMakegoods</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>kellym@lgads.tv </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>closecaselistforMakegoods</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>annamaria@lgads.tv </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>closecaselistforMakegoods</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>dave@lgads.tv</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>closecaselistforMakegoods</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Opportunity__r.CSM__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>closecaselistforMakegoods</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Opportunity__r.Owner.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>closecaselistforMakegoods2</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.CreatedBy.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>closecaselistforMakegoods2</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Operations_Leader__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>closecaselistforMakegoods2</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Opportunity__r.CSM__r.AM_Lead__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>closecaselistforMakegoods2</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_CM.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>On_case_close</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Email_To_critical_list</name>
        <label>Email To critical list</label>
        <locationX>3042</locationX>
        <locationY>2321</locationY>
        <assignmentItems>
            <assignToReference>Emaillistforcriticalpriority</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>dave@lgads.tv.invalid </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Emaillistforcriticalpriority</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>ksenia@lgads.tv.invalid</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Emaillistforcriticalpriority</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Animesh.Vibhu@lgads.tv</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Emaillistforcriticalpriority</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Anand.Bhave@lgads.tv</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Email_Notification_for_critical_priority</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>EmailsforFeasibilityStatusNew</name>
        <label>Emails for Feasibility Status New</label>
        <locationX>4010</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>ListofEmailsforFeasibilityNew</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>rishabh.raina@lgads.tv</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListofEmailsforFeasibilityNew</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>dinesh@lgads.tv </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Notify_Dinesh_Rishab</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>recipientsids1</name>
        <label>recipientsids</label>
        <locationX>1920</locationX>
        <locationY>1871</locationY>
        <assignmentItems>
            <assignToReference>RecipientsIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Custom_Notification_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Tech_Ops_list</name>
        <label>Tech Ops list</label>
        <locationX>3042</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Techopslist</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Opportunity__r.CSM__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Email_to_AM</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Alert_for_Exposure_Log</name>
        <label>Alert for Exposure Log</label>
        <locationX>3174</locationX>
        <locationY>2621</locationY>
        <defaultConnector>
            <targetReference>ownerChange</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Request_Type_is_Exposure_Log</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Request_Issue_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Exposure Logs</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Request_Issue_Type__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Exposure_Log_list</targetReference>
            </connector>
            <label>Request Type is Exposure Log</label>
        </rules>
    </decisions>
    <decisions>
        <name>AM</name>
        <label>AM</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Check_Description</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AM_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.CSM__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.OwnerId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateCaseOwner_Programmatic</targetReference>
            </connector>
            <label>AM empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Description</name>
        <label>Check Description</label>
        <locationX>182</locationX>
        <locationY>839</locationY>
        <defaultConnector>
            <targetReference>ownerChange</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Description_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Description</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Short_Description</targetReference>
            </connector>
            <label>Is Description empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Feasibility_Status</name>
        <label>Check Feasibility Status</label>
        <locationX>4274</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>CheckAM</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Feas_status_New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EmailsforFeasibilityStatusNew</targetReference>
            </connector>
            <label>Is New</label>
        </rules>
        <rules>
            <name>Is_Not_New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_to_AM_And_Sales</targetReference>
            </connector>
            <label>Is Not New</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_For_Techops_Assignee</name>
        <label>Check For Techops Assignee</label>
        <locationX>3174</locationX>
        <locationY>947</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>checkIsUSTimeZone</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Assigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Tech_Ops_Assignee__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Assignee</targetReference>
            </connector>
            <label>Is Assigned</label>
        </rules>
        <rules>
            <name>Not_Assigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Tech_Ops_Assignee__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>checkIsUSTimeZone</targetReference>
            </connector>
            <label>Not Assigned</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Status</name>
        <label>Check Status</label>
        <locationX>886</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>checkAmountGreatherThan350k</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>For_In_Progress_Ready_for_Review_Revision_Ready_for_Review</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready for Review</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Revision  Ready for Review</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Sales_Queue</targetReference>
            </connector>
            <label>For In Progress/Ready for Review/Revision  Ready for Review</label>
        </rules>
        <rules>
            <name>For_Proposal_Requested_Revision_Requested</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Proposal Requested</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Revision requested</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_AM</targetReference>
            </connector>
            <label>For Proposal Requested/ Revision Requested</label>
        </rules>
        <rules>
            <name>For_Closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_for_closed</targetReference>
            </connector>
            <label>For Closed</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckAM</name>
        <label>CheckAM</label>
        <locationX>4274</locationX>
        <locationY>947</locationY>
        <defaultConnector>
            <targetReference>ownerChange</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_AM_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.CSM__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Feasibility_Queue</targetReference>
            </connector>
            <label>Is AM Null</label>
        </rules>
        <rules>
            <name>Is_AM_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.CSM__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OwnerId_is_being_updated_from_AM_Id</targetReference>
            </connector>
            <label>Is AM Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkAmountGreatherThan350k</name>
        <label>checkAmountGreatherThan350k</label>
        <locationX>886</locationX>
        <locationY>947</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_Owner_to_AM</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>checkAmountGreatherThan350k1</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Deck_350k_Sales_Dev_Team__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Deck_350k_Sales_Dev_Team__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Deck_350k_Sales_Dev_Team__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetQueues</targetReference>
            </connector>
            <label>checkAmountGreatherThan350k1</label>
        </rules>
        <rules>
            <name>Checklessthen350k</name>
            <conditionLogic>(1 OR 2) AND 3 AND (4 OR 5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Deck_350k_AM__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Media_Plan_AM__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.CSM__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Deck_350k_AM__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Media_Plan_AM__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Emails_for_RFP</targetReference>
            </connector>
            <label>Checklessthen350k</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkcaseCreatedBelow7days</name>
        <label>checkcaseCreatedBelow7days</label>
        <locationX>2052</locationX>
        <locationY>1763</locationY>
        <defaultConnector>
            <targetReference>ownerChange</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>below7days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>checkBelow7Days</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>recipientsids1</targetReference>
            </connector>
            <label>below7days</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkcaseStatus</name>
        <label>checkcaseStatus</label>
        <locationX>2976</locationX>
        <locationY>3413</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>caseClose</name>
            <conditionLogic>(1 OR 3) AND 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Complete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CaseCloseEmail</targetReference>
            </connector>
            <label>caseClose</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkgettechrecforIndia</name>
        <label>checkgettechrecforIndia</label>
        <locationX>3438</locationX>
        <locationY>1271</locationY>
        <defaultConnector>
            <targetReference>Get_Tech_Ops_Default_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>checkrecnotnullIndia</name>
            <conditionLogic>(1 AND 2) OR (1 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>GetTech_OpsAssignmentsUsersForIndia</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Request_Issue_Type__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateownerforgettechIndia</targetReference>
            </connector>
            <label>checkrecnotnullIndia</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkgettechrecforus</name>
        <label>checkgettechrecforus</label>
        <locationX>2998</locationX>
        <locationY>1271</locationY>
        <defaultConnector>
            <targetReference>Get_Tech_Ops_Default_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>checkrecnotnull</name>
            <conditionLogic>(1 AND 2) OR (1 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>GetTech_OpsAssignmentsUsers</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Request_Issue_Type__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateOwnerfortechopsUs</targetReference>
            </connector>
            <label>checkrecnotnull</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkIsUSTimeZone</name>
        <label>checkIsUSTimeZone</label>
        <locationX>3218</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>GetTech_OpsAssignmentsUsersForIndia</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TrueIsUSTimeZone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsUSTimeZone</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetTech_OpsAssignmentsUsers</targetReference>
            </connector>
            <label>TrueIsUSTimeZone</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkListOfemails</name>
        <label>checkListOfemails</label>
        <locationX>1678</locationX>
        <locationY>1079</locationY>
        <defaultConnector>
            <targetReference>checkOppownerAmid</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>EmailsCheckNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>listofEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_NotificationsRFI</targetReference>
            </connector>
            <label>EmailsCheckNotNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkListOfemails2</name>
        <label>checkListOfemails2</label>
        <locationX>2118</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>checkcaseCreatedBelow7days</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>EmailsCheckNotNull2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>listofEmailsforReadyforReview</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ReadyforReview_Email_NotificationsRFI</targetReference>
            </connector>
            <label>EmailsCheckNotNull2</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checkmakegood_Amt</name>
        <label>Checkmakegood Amt</label>
        <locationX>5110</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Get_CM</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Under10K</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.Amount</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>10000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_kelly_userid</targetReference>
            </connector>
            <label>Under10K</label>
        </rules>
        <rules>
            <name>Above10K</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.Amount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>10000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_kelly_userid2</targetReference>
            </connector>
            <label>Above 10K</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checkmakegoods</name>
        <label>Checkmakegoods</label>
        <locationX>5110</locationX>
        <locationY>1055</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_list_for_makegoods_new</targetReference>
            </connector>
            <label>Is New</label>
        </rules>
        <rules>
            <name>Is_In_Review_Approved_Not_Approved</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Review</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_In_Review_Approved_Not_Approved_Email_List</targetReference>
            </connector>
            <label>Is In Review/Approved/Not Approved</label>
        </rules>
        <rules>
            <name>Is_closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_to_close_case_list</targetReference>
            </connector>
            <label>Is closed</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkOppownerAmid</name>
        <label>checkOppownerAmid</label>
        <locationX>1678</locationX>
        <locationY>1379</locationY>
        <defaultConnector>
            <targetReference>checkcaseCreatedBelow7days</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>amidnot_numm</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.Owner.AM_Lead__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateOwnerForRFI</targetReference>
            </connector>
            <label>amidnot numm</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkRecordType</name>
        <label>checkRecordType</label>
        <locationX>2976</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>ownerChange</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RecordTypeProgrammaticDealRequest</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Programmatic_Deal_Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AM</targetReference>
            </connector>
            <label>RecordTypeProgrammaticDealRequest</label>
        </rules>
        <rules>
            <name>CheckRFPRecordType</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RFP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Status</targetReference>
            </connector>
            <label>CheckRFPRecordType</label>
        </rules>
        <rules>
            <name>CheckRFIrecordType</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RFI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OncreatesentMail</targetReference>
            </connector>
            <label>CheckRFIrecordType</label>
        </rules>
        <rules>
            <name>CheckRecordTypeTech_Ops</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tech_Ops</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>On_case_create</targetReference>
            </connector>
            <label>CheckRecordTypeTech Ops</label>
        </rules>
        <rules>
            <name>recordtypeFeasibility</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Feasibility</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Feasibility_Status</targetReference>
            </connector>
            <label>recordtypeFeasibility</label>
        </rules>
        <rules>
            <name>RecordType_Makegoods</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Makegoods</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Checkmakegood_Amt</targetReference>
            </connector>
            <label>RecordType Makegoods</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Case_3p_field_populated</name>
        <label>Is Case 3p field populated?</label>
        <locationX>622</locationX>
        <locationY>1679</locationY>
        <defaultConnector>
            <targetReference>Update_3_fields_in_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case_3p_field_not_populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Third_Party_Verification_Partners__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.X3P_Verification_Partner__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_4_Fields_in_Case</targetReference>
            </connector>
            <label>Case 3p field not populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_New_Case</name>
        <label>Is New Case?</label>
        <locationX>886</locationX>
        <locationY>1571</locationY>
        <defaultConnector>
            <targetReference>update_third_party_after_change</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Case</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Case_3p_field_populated</targetReference>
            </connector>
            <label>New Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_priority_Critical</name>
        <label>Is priority Critical</label>
        <locationX>3174</locationX>
        <locationY>2213</locationY>
        <defaultConnector>
            <targetReference>Alert_for_Exposure_Log</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Priority_critical</name>
            <conditionLogic>(1 AND 2) OR (2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Priority</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Priority</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Critical</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_To_critical_list</targetReference>
            </connector>
            <label>Priority critical</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_User_available</name>
        <label>Is User available?</label>
        <locationX>3218</locationX>
        <locationY>1829</locationY>
        <defaultConnector>
            <targetReference>Is_priority_Critical</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Tech_Ops_Default_User</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Default_Tech_Ops_Assignment</targetReference>
            </connector>
            <label>Yes Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>On_case_create</name>
        <label>On case create</label>
        <locationX>3174</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Check_For_Techops_Assignee</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_New_Tech_Ops</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.CSM__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tech_Ops_list</targetReference>
            </connector>
            <label>Is New Tech Ops</label>
        </rules>
    </decisions>
    <decisions>
        <name>OncreatesentMail</name>
        <label>OncreatesentMail</label>
        <locationX>2052</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>checkcaseCreatedBelow7days</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>checkOncreate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getKelly_McMahon</targetReference>
            </connector>
            <label>checkOncreate</label>
        </rules>
        <rules>
            <name>Status_Ready_for_Review</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready for Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addedEmails2</targetReference>
            </connector>
            <label>Status Ready for Review</label>
        </rules>
    </decisions>
    <decisions>
        <name>ownerChange</name>
        <label>ownerChange</label>
        <locationX>2976</locationX>
        <locationY>3113</locationY>
        <defaultConnector>
            <targetReference>checkcaseStatus</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isownerchange</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>checkqueueSend_Email_with_HTML_Body</targetReference>
            </connector>
            <label>isownerchange</label>
        </rules>
    </decisions>
    <decisions>
        <name>update_third_party_after_change</name>
        <label>update third party after change</label>
        <locationX>1150</locationX>
        <locationY>1679</locationY>
        <defaultConnector>
            <targetReference>Update_Oppty_to_Sync_Fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Thirdparty_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Third_Party_Verification_Partners__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Third_Party_Verification_Partners__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_opp_x3p</targetReference>
            </connector>
            <label>Thirdparty changed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>caseURL</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_600}, FIND(&apos;/services&apos;, {!$Api.Partner_Server_URL_600})) &amp; {!$Record.Id}</expression>
    </formulas>
    <formulas>
        <name>checkBelow7Days</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Client_Due_Date__c} - 7</expression>
    </formulas>
    <formulas>
        <name>Formulaforkpinotes</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$Record.KPI_Notes__c}), {!$Record.Opportunity__r.KPI_Note__c}, {!$Record.KPI_Notes__c})</expression>
    </formulas>
    <formulas>
        <name>FormulaForMakegoodStatuschange</name>
        <dataType>String</dataType>
        <expression>CASE({!$Record.Status},
  &quot;In Review&quot;, {!InReviewApprovedNotApprovedEmaillistforMakegoods} &amp; &quot;;&quot; &amp;{!InReviewApprovedNotApprovedEmaillistforMakegoods2},
  &quot;Approved&quot;, {!InReviewApprovedNotApprovedEmaillistforMakegoods} &amp; &quot;;&quot; &amp;{!InReviewApprovedNotApprovedEmaillistforMakegoods2},
  &quot;Not Approved&quot;, {!InReviewApprovedNotApprovedEmaillistforMakegoods} &amp; &quot;;&quot; &amp;{!InReviewApprovedNotApprovedEmaillistforMakegoods2},
  null  
)</expression>
    </formulas>
    <formulas>
        <name>Formulaforprimarykey</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK(TEXT({!$Record.Primary_KPI__c})), TEXT({!$Record.Opportunity__r.Primary_KPI__c}), TEXT({!$Record.Primary_KPI__c}))</expression>
    </formulas>
    <formulas>
        <name>FormulaforRFPstatuschange</name>
        <dataType>String</dataType>
        <expression>CASE({!$Record.Status},
&quot;Proposal Requested&quot;, {!EmailforAM},
&quot;Revision requested&quot;, {!EmailforAM},
&quot;In Progress&quot;,{!SalesdevEmaillist},
&quot;Ready for Review&quot;, {!SalesdevEmaillist},
&quot;Revision Ready for Review&quot;,{!SalesdevEmaillist} ,
 &quot;Closed&quot;,{!SalesdevEmaillist},
    &quot;&quot; 
)</expression>
    </formulas>
    <formulas>
        <name>formulaforsecondarykpi</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK(TEXT({!$Record.Secondary_KPI__c})), TEXT({!$Record.Opportunity__r.Secondary_KPI__c}), TEXT({!$Record.Secondary_KPI__c}))</expression>
    </formulas>
    <formulas>
        <name>formulaoppkpinotes</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.Opportunity__r.KPI_Note__c} != {!$Record.KPI_Notes__c} &amp;&amp; !ISBLANK({!$Record.KPI_Notes__c}) , {!$Record.KPI_Notes__c}, {!$Record.Opportunity__r.KPI_Note__c})</expression>
    </formulas>
    <formulas>
        <name>formulaoppprimarykpi</name>
        <dataType>String</dataType>
        <expression>IF(
    TEXT({!$Record.Primary_KPI__c}) != TEXT({!$Record.Opportunity__r.Primary_KPI__c}) &amp;&amp;
    NOT(ISBLANK(TEXT({!$Record.Primary_KPI__c}))),
    TEXT({!$Record.Primary_KPI__c}),
    TEXT({!$Record.Opportunity__r.Primary_KPI__c}) 
)</expression>
    </formulas>
    <formulas>
        <name>formulaoppsecondarykpi</name>
        <dataType>String</dataType>
        <expression>IF(
    TEXT({!$Record.Secondary_KPI__c}) != TEXT({!$Record.Opportunity__r.Secondary_KPI__c}) &amp;&amp;
    NOT(ISBLANK(TEXT({!$Record.Secondary_KPI__c}))),
    TEXT({!$Record.Secondary_KPI__c}),
    TEXT({!$Record.Opportunity__r.Secondary_KPI__c}) 
)</expression>
    </formulas>
    <formulas>
        <name>IsUSTimeZone</name>
        <dataType>Boolean</dataType>
        <expression>IF(
   VALUE(LEFT(TEXT({!$Record.CreatedDate}), 2)) &gt; 12,
    TRUE, /* US Time Zone */
    FALSE /* Indian Time Zone */
)</expression>
    </formulas>
    <formulas>
        <name>PopulatedSubject</name>
        <dataType>String</dataType>
        <expression>{!$Record.Opportunity__r.Name} &amp; &quot; : &quot; &amp; {!$Record.RecordType.Name} &amp; &quot;: &quot; &amp; TEXT(TODAY())</expression>
    </formulas>
    <formulas>
        <name>Short_Description</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Record.Description}, 255)</expression>
    </formulas>
    <interviewLabel>Case: Assignments &amp; Alerts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case: Assignments &amp; Alerts</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_CM</name>
        <label>Get CM</label>
        <locationX>5110</locationX>
        <locationY>947</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Checkmakegoods</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__r.Campaign_Manager__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Custom_Notification_Id</name>
        <label>Get Custom Notification Id</label>
        <locationX>1920</locationX>
        <locationY>1979</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SendCustomNotification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>RFI_Case_Less_than_7_Days</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Feasibility_Queue</name>
        <label>Get Feasibility Queue</label>
        <locationX>4010</locationX>
        <locationY>1055</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_owner_from_Feasibility_queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Feasibility_Case_Queue</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>Feasibiltyqueueid</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_kelly_userid</name>
        <label>Get kelly userid</label>
        <locationX>4846</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assigning_to_Kelly</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Kelly McMahon</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_kelly_userid2</name>
        <label>Get kelly userid 2</label>
        <locationX>5110</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assigning_to_Kelly2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Kelly McMahon</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Tech_Ops_Default_User</name>
        <label>Get Tech Ops Default User</label>
        <locationX>3218</locationX>
        <locationY>1721</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_User_available</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Animesh.Vibhu@lgads.tv</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getAnnaMaria_Stathis</name>
        <label>getAnnaMaria Stathis</label>
        <locationX>1678</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>addedEmails</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AnnaMaria Stathis</stringValue>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>getAnnaMariaStathis</assignToReference>
            <field>Email</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getKelly_McMahon</name>
        <label>getKelly McMahon</label>
        <locationX>1678</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getNataly_Babain</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Kelly McMahon</stringValue>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>KellyMcMahonEmail</assignToReference>
            <field>Email</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getNataly_Babain</name>
        <label>getNataly Babain</label>
        <locationX>1678</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getAnnaMaria_Stathis</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Nataly Babain</stringValue>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>NatalyBabainEmail</assignToReference>
            <field>Email</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetQueues</name>
        <label>GetQueues</label>
        <locationX>622</locationX>
        <locationY>1055</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateCaseOwnerSalesDevelopmentQueue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sales_Development_Queue</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>QueueRecordId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetTech_OpsAssignmentsUsers</name>
        <label>GetTech_OpsAssignmentsUsers</label>
        <locationX>2998</locationX>
        <locationY>1163</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkgettechrecforus</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TimeZone__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>US Timezone</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Request_Issue_Type__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Tech_OpsAssignmentsUsers__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetTech_OpsAssignmentsUsersForIndia</name>
        <label>GetTech_OpsAssignmentsUsersForIndia</label>
        <locationX>3438</locationX>
        <locationY>1163</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkgettechrecforIndia</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TimeZone__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>India Timezone</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Request_Issue_Type__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Tech_OpsAssignmentsUsers__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Assigning_to_Kelly</name>
        <label>Assigning to Kelly</label>
        <locationX>4846</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Get_CM</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_kelly_userid.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Assigning_to_Kelly2</name>
        <label>Assigning to Kelly2</label>
        <locationX>5110</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Get_CM</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_kelly_userid2.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Auto_Populate_Fields</name>
        <label>Auto Populate Fields</label>
        <locationX>2976</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>checkRecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Opportunity__r.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>$Record.Opportunity__r.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Default_Tech_Ops_Assignment</name>
        <label>Default Tech Ops Assignment</label>
        <locationX>3086</locationX>
        <locationY>1937</locationY>
        <connector>
            <targetReference>Is_priority_Critical</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Tech_Ops_Default_User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>OwnerId_is_being_updated_from_AM_Id</name>
        <label>OwnerId is being updated from AM Id.</label>
        <locationX>4274</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>ownerChange</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Opportunity__r.CSM__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_3_fields_in_Case</name>
        <label>Update 3 fields in Case</label>
        <locationX>754</locationX>
        <locationY>1787</locationY>
        <connector>
            <targetReference>Update_opp_x3p_on_Create</targetReference>
        </connector>
        <inputAssignments>
            <field>KPI_Notes__c</field>
            <value>
                <elementReference>Formulaforkpinotes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_KPI__c</field>
            <value>
                <elementReference>Formulaforprimarykey</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Secondary_KPI__c</field>
            <value>
                <elementReference>formulaforsecondarykpi</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_4_Fields_in_Case</name>
        <label>Update 4 Fields in Case</label>
        <locationX>490</locationX>
        <locationY>1787</locationY>
        <connector>
            <targetReference>Update_Oppty_to_Sync_Fields_on_Create</targetReference>
        </connector>
        <inputAssignments>
            <field>KPI_Notes__c</field>
            <value>
                <elementReference>Formulaforkpinotes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_KPI__c</field>
            <value>
                <elementReference>Formulaforprimarykey</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Secondary_KPI__c</field>
            <value>
                <elementReference>formulaforsecondarykpi</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Third_Party_Verification_Partners__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.X3P_Verification_Partner__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Assignee</name>
        <label>Update Assignee</label>
        <locationX>2602</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>Is_priority_Critical</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Account.Tech_Ops_Assignee__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_opp_x3p</name>
        <label>Update opp x3p</label>
        <locationX>1018</locationX>
        <locationY>1787</locationY>
        <connector>
            <targetReference>ownerChange</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>KPI_Note__c</field>
            <value>
                <elementReference>formulaoppkpinotes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_KPI__c</field>
            <value>
                <elementReference>formulaoppprimarykpi</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Secondary_KPI__c</field>
            <value>
                <elementReference>formulaoppsecondarykpi</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>X3P_Verification_Partner__c</field>
            <value>
                <elementReference>$Record.Third_Party_Verification_Partners__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_opp_x3p_on_Create</name>
        <label>Update opp x3p on Create</label>
        <locationX>754</locationX>
        <locationY>1895</locationY>
        <connector>
            <targetReference>ownerChange</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>KPI_Note__c</field>
            <value>
                <elementReference>Formulaforkpinotes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_KPI__c</field>
            <value>
                <elementReference>Formulaforprimarykey</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Secondary_KPI__c</field>
            <value>
                <elementReference>formulaforsecondarykpi</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>X3P_Verification_Partner__c</field>
            <value>
                <elementReference>$Record.Third_Party_Verification_Partners__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Oppty_to_Sync_Fields</name>
        <label>Update Oppty to Sync Fields</label>
        <locationX>1282</locationX>
        <locationY>1787</locationY>
        <connector>
            <targetReference>ownerChange</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>KPI_Note__c</field>
            <value>
                <elementReference>formulaoppkpinotes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_KPI__c</field>
            <value>
                <elementReference>formulaoppprimarykpi</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Secondary_KPI__c</field>
            <value>
                <elementReference>formulaoppsecondarykpi</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Oppty_to_Sync_Fields_on_Create</name>
        <label>Update Oppty to Sync Fields on Create</label>
        <locationX>490</locationX>
        <locationY>1895</locationY>
        <connector>
            <targetReference>ownerChange</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>KPI_Note__c</field>
            <value>
                <elementReference>Formulaforkpinotes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_KPI__c</field>
            <value>
                <elementReference>Formulaforprimarykey</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Secondary_KPI__c</field>
            <value>
                <elementReference>formulaforsecondarykpi</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>X3P_Verification_Partner__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.X3P_Verification_Partner__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_owner_from_Feasibility_queue</name>
        <label>Update owner from Feasibility queue</label>
        <locationX>4010</locationX>
        <locationY>1163</locationY>
        <connector>
            <targetReference>ownerChange</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Feasibiltyqueueid</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Owner_to_AM</name>
        <label>Update Owner to AM</label>
        <locationX>886</locationX>
        <locationY>1271</locationY>
        <connector>
            <targetReference>Is_New_Case</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Opportunity__r.CSM__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Short_Description</name>
        <label>Update Short Description.</label>
        <locationX>50</locationX>
        <locationY>947</locationY>
        <connector>
            <targetReference>ownerChange</targetReference>
        </connector>
        <inputAssignments>
            <field>Short_Description__c</field>
            <value>
                <elementReference>Short_Description</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateCaseOwner_Programmatic</name>
        <label>UpdateCaseOwner_Programmatic</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Check_Description</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Opportunity__r.CSM__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateCaseOwnerSalesDevelopmentQueue</name>
        <label>UpdateCaseOwnerSalesDevelopmentQueue</label>
        <locationX>622</locationX>
        <locationY>1163</locationY>
        <connector>
            <targetReference>Assign_Email_to_Sales_Queue</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>QueueRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateownerforgettechIndia</name>
        <label>updateownerforgettechIndia</label>
        <locationX>3306</locationX>
        <locationY>1379</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Is_priority_Critical</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>GetTech_OpsAssignmentsUsersForIndia.OwnerId__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateOwnerForRFI</name>
        <label>updateOwnerForRFI</label>
        <locationX>1546</locationX>
        <locationY>1487</locationY>
        <connector>
            <targetReference>checkcaseCreatedBelow7days</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Opportunity__r.Owner.AM_Lead__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateOwnerfortechopsUs</name>
        <label>UpdateOwnerfortechopsUs</label>
        <locationX>2866</locationX>
        <locationY>1379</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Is_priority_Critical</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>GetTech_OpsAssignmentsUsers.OwnerId__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>2850</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Auto_Populate_Fields</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>EmailBodyforcaseclosure</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(53, 55, 68); font-family: &amp;quot;Proxima Nova&amp;quot;, sans-serif; font-size: 11pt;&quot;&gt;Dear &lt;/span&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(53, 55, 68); font-family: &amp;quot;Proxima Nova&amp;quot;, sans-serif; font-size: 11pt;&quot;&gt;{!$Record.SuppliedName}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(53, 55, 68); font-family: &amp;quot;Proxima Nova&amp;quot;, sans-serif; font-size: 11pt;&quot;&gt;The below case is closed&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(53, 55, 68); font-family: &amp;quot;Proxima Nova&amp;quot;, sans-serif; font-size: 11pt;&quot;&gt;Case Number:&lt;/strong&gt;&lt;span style=&quot;background-color: transparent; color: rgb(53, 55, 68); font-family: &amp;quot;Proxima Nova&amp;quot;, sans-serif; font-size: 11pt;&quot;&gt; &lt;/span&gt;&lt;a href=&quot;{!caseURL}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: transparent; color: rgb(53, 55, 68); font-family: &amp;quot;Proxima Nova&amp;quot;, sans-serif; font-size: 11pt;&quot;&gt;{!$Record.CaseNumber}&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(53, 55, 68); font-family: &amp;quot;Proxima Nova&amp;quot;, sans-serif; font-size: 11pt;&quot;&gt;Case Type: &lt;/strong&gt;&lt;span style=&quot;background-color: transparent; color: rgb(53, 55, 68); font-family: &amp;quot;Proxima Nova&amp;quot;, sans-serif; font-size: 11pt;&quot;&gt;{!$Record.RecordType.Name} &lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;| {!$Record.Subject__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(53, 55, 68); font-family: &amp;quot;Proxima Nova&amp;quot;, sans-serif; font-size: 11pt;&quot;&gt;Priority:&lt;/strong&gt;&lt;span style=&quot;background-color: transparent; color: rgb(53, 55, 68); font-family: &amp;quot;Proxima Nova&amp;quot;, sans-serif; font-size: 11pt;&quot;&gt; {!$Record.Priority}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(53, 55, 68); font-family: &amp;quot;Proxima Nova&amp;quot;, sans-serif; font-size: 11pt;&quot;&gt;Opportunity : &lt;/strong&gt;&lt;span style=&quot;background-color: transparent; color: rgb(53, 55, 68); font-family: &amp;quot;Proxima Nova&amp;quot;, sans-serif; font-size: 11pt;&quot;&gt;{!$Record.Opportunity__r.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(53, 55, 68); font-family: &amp;quot;Proxima Nova&amp;quot;, sans-serif; font-size: 11pt;&quot;&gt;Created Date:&lt;/strong&gt;&lt;span style=&quot;background-color: transparent; color: rgb(53, 55, 68); font-family: &amp;quot;Proxima Nova&amp;quot;, sans-serif; font-size: 11pt;&quot;&gt;{!$Record.CreatedDate}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(53, 55, 68); font-family: &amp;quot;Proxima Nova&amp;quot;, sans-serif; font-size: 11pt;&quot;&gt;Thanks&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(53, 55, 68); font-family: &amp;quot;Proxima Nova&amp;quot;, sans-serif; font-size: 11pt;&quot;&gt;Best regards,&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Emailbodyforcasecreation</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(53, 55, 68); font-family: &amp;quot;Proxima Nova&amp;quot;, sans-serif; font-size: 11pt;&quot;&gt;Dear &lt;/span&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(53, 55, 68); font-family: &amp;quot;Proxima Nova&amp;quot;, sans-serif; font-size: 11pt;&quot;&gt;{!$Record.SuppliedName}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(53, 55, 68); font-family: &amp;quot;Proxima Nova&amp;quot;, sans-serif; font-size: 11pt;&quot;&gt;A new case has been created.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(53, 55, 68); font-family: &amp;quot;Proxima Nova&amp;quot;, sans-serif; font-size: 11pt;&quot;&gt;Case Number:&lt;/strong&gt;&lt;span style=&quot;background-color: transparent; color: rgb(53, 55, 68); font-family: &amp;quot;Proxima Nova&amp;quot;, sans-serif; font-size: 11pt;&quot;&gt; &lt;/span&gt;&lt;a href=&quot;{!caseURL}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: transparent; color: rgb(53, 55, 68); font-family: &amp;quot;Proxima Nova&amp;quot;, sans-serif; font-size: 11pt;&quot;&gt;{!$Record.CaseNumber}&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(53, 55, 68); font-family: &amp;quot;Proxima Nova&amp;quot;, sans-serif; font-size: 11pt;&quot;&gt;Case Type: &lt;/strong&gt;&lt;span style=&quot;background-color: transparent; color: rgb(53, 55, 68); font-family: &amp;quot;Proxima Nova&amp;quot;, sans-serif; font-size: 11pt;&quot;&gt;{!$Record.RecordType.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(53, 55, 68); font-family: &amp;quot;Proxima Nova&amp;quot;, sans-serif; font-size: 11pt;&quot;&gt;Priority:&lt;/strong&gt;&lt;span style=&quot;background-color: transparent; color: rgb(53, 55, 68); font-family: &amp;quot;Proxima Nova&amp;quot;, sans-serif; font-size: 11pt;&quot;&gt; {!$Record.Priority}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(53, 55, 68); font-family: &amp;quot;Proxima Nova&amp;quot;, sans-serif; font-size: 11pt;&quot;&gt;Opportunity : &lt;/strong&gt;&lt;span style=&quot;background-color: transparent; color: rgb(53, 55, 68); font-family: &amp;quot;Proxima Nova&amp;quot;, sans-serif; font-size: 11pt;&quot;&gt;{!$Record.Opportunity__r.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(53, 55, 68); font-family: &amp;quot;Proxima Nova&amp;quot;, sans-serif; font-size: 11pt;&quot;&gt;Created Date:&lt;/strong&gt;&lt;span style=&quot;background-color: transparent; color: rgb(53, 55, 68); font-family: &amp;quot;Proxima Nova&amp;quot;, sans-serif; font-size: 11pt;&quot;&gt;{!$Record.CreatedDate}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(53, 55, 68); font-family: &amp;quot;Proxima Nova&amp;quot;, sans-serif; font-size: 11pt;&quot;&gt;Thanks&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(53, 55, 68); font-family: &amp;quot;Proxima Nova&amp;quot;, sans-serif; font-size: 11pt;&quot;&gt;Best regards,&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EmailBodyforcasePriority</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: &amp;quot;Proxima Nova&amp;quot;, sans-serif; color: rgb(53, 55, 68); background-color: transparent;&quot;&gt;Hi &lt;/span&gt;&lt;strong style=&quot;font-size: 11pt; font-family: &amp;quot;Proxima Nova&amp;quot;, sans-serif; color: rgb(53, 55, 68); background-color: transparent;&quot;&gt;{!$Record.SuppliedName}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: &amp;quot;Proxima Nova&amp;quot;, sans-serif; color: rgb(53, 55, 68); background-color: transparent;&quot;&gt;The Case Priority has been Updated to Critical.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 11pt; font-family: &amp;quot;Proxima Nova&amp;quot;, sans-serif; color: rgb(53, 55, 68); background-color: transparent;&quot;&gt;Case Number:&lt;/strong&gt;&lt;span style=&quot;font-size: 11pt; font-family: &amp;quot;Proxima Nova&amp;quot;, sans-serif; color: rgb(53, 55, 68); background-color: transparent;&quot;&gt; &lt;/span&gt;&lt;a href=&quot;{!caseURL}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 11pt; font-family: &amp;quot;Proxima Nova&amp;quot;, sans-serif; color: rgb(53, 55, 68); background-color: transparent;&quot;&gt;{!$Record.CaseNumber}&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 11pt; font-family: &amp;quot;Proxima Nova&amp;quot;, sans-serif; color: rgb(53, 55, 68); background-color: transparent;&quot;&gt;Case Type: &lt;/strong&gt;&lt;span style=&quot;font-size: 11pt; font-family: &amp;quot;Proxima Nova&amp;quot;, sans-serif; color: rgb(53, 55, 68); background-color: transparent;&quot;&gt;{!$Record.RecordType.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 11pt; font-family: &amp;quot;Proxima Nova&amp;quot;, sans-serif; color: rgb(53, 55, 68); background-color: transparent;&quot;&gt;Priority:&lt;/strong&gt;&lt;span style=&quot;font-size: 11pt; font-family: &amp;quot;Proxima Nova&amp;quot;, sans-serif; color: rgb(53, 55, 68); background-color: transparent;&quot;&gt; {!$Record.Priority}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 11pt; font-family: &amp;quot;Proxima Nova&amp;quot;, sans-serif; color: rgb(53, 55, 68); background-color: transparent;&quot;&gt;Opportunity : &lt;/strong&gt;&lt;span style=&quot;font-size: 11pt; font-family: &amp;quot;Proxima Nova&amp;quot;, sans-serif; color: rgb(53, 55, 68); background-color: transparent;&quot;&gt;{!$Record.Opportunity__r.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 11pt; font-family: &amp;quot;Proxima Nova&amp;quot;, sans-serif; color: rgb(53, 55, 68); background-color: transparent;&quot;&gt;Created Date:&lt;/strong&gt;&lt;span style=&quot;font-size: 11pt; font-family: &amp;quot;Proxima Nova&amp;quot;, sans-serif; color: rgb(53, 55, 68); background-color: transparent;&quot;&gt;{!$Record.CreatedDate}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 11pt; font-family: &amp;quot;Proxima Nova&amp;quot;, sans-serif; color: rgb(53, 55, 68); background-color: transparent;&quot;&gt;Subject :&lt;/strong&gt;&lt;span style=&quot;font-size: 11pt; font-family: &amp;quot;Proxima Nova&amp;quot;, sans-serif; color: rgb(53, 55, 68); background-color: transparent;&quot;&gt; {!$Record.Subject__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: &amp;quot;Proxima Nova&amp;quot;, sans-serif; color: rgb(53, 55, 68); background-color: transparent;&quot;&gt;Thanks&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: &amp;quot;Proxima Nova&amp;quot;, sans-serif; color: rgb(53, 55, 68); background-color: transparent;&quot;&gt;Best regards,&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EmailBodyforCaseStatusChange</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(53, 55, 68); font-family: &amp;quot;Proxima Nova&amp;quot;, sans-serif; font-size: 11pt;&quot;&gt;Dear &lt;/span&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(53, 55, 68); font-family: &amp;quot;Proxima Nova&amp;quot;, sans-serif; font-size: 11pt;&quot;&gt;{!$Record.SuppliedName}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(53, 55, 68); font-family: &amp;quot;Proxima Nova&amp;quot;, sans-serif; font-size: 11pt;&quot;&gt;The Case Status has been Updated to {!$Record.Status}.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 11pt; font-family: &amp;quot;Proxima Nova&amp;quot;, sans-serif; color: rgb(53, 55, 68); background-color: transparent;&quot;&gt;Case Number:&lt;/strong&gt;&lt;span style=&quot;font-size: 11pt; font-family: &amp;quot;Proxima Nova&amp;quot;, sans-serif; color: rgb(53, 55, 68); background-color: transparent;&quot;&gt; &lt;/span&gt;&lt;a href=&quot;{!caseURL}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 11pt; font-family: &amp;quot;Proxima Nova&amp;quot;, sans-serif; color: rgb(53, 55, 68); background-color: transparent;&quot;&gt;{!$Record.CaseNumber}&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(53, 55, 68); font-family: &amp;quot;Proxima Nova&amp;quot;, sans-serif; font-size: 11pt;&quot;&gt;Case Type: &lt;/strong&gt;&lt;span style=&quot;background-color: transparent; color: rgb(53, 55, 68); font-family: &amp;quot;Proxima Nova&amp;quot;, sans-serif; font-size: 11pt;&quot;&gt;{!$Record.RecordType.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(53, 55, 68); font-family: &amp;quot;Proxima Nova&amp;quot;, sans-serif; font-size: 11pt;&quot;&gt;Priority:&lt;/strong&gt;&lt;span style=&quot;background-color: transparent; color: rgb(53, 55, 68); font-family: &amp;quot;Proxima Nova&amp;quot;, sans-serif; font-size: 11pt;&quot;&gt; {!$Record.Priority}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(53, 55, 68); font-family: &amp;quot;Proxima Nova&amp;quot;, sans-serif; font-size: 11pt;&quot;&gt;Opportunity : &lt;/strong&gt;&lt;span style=&quot;background-color: transparent; color: rgb(53, 55, 68); font-family: &amp;quot;Proxima Nova&amp;quot;, sans-serif; font-size: 11pt;&quot;&gt;{!$Record.Opportunity__r.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(53, 55, 68); font-family: &amp;quot;Proxima Nova&amp;quot;, sans-serif; font-size: 11pt;&quot;&gt;Created Date:&lt;/strong&gt;&lt;span style=&quot;background-color: transparent; color: rgb(53, 55, 68); font-family: &amp;quot;Proxima Nova&amp;quot;, sans-serif; font-size: 11pt;&quot;&gt;{!$Record.CreatedDate}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(53, 55, 68); font-family: &amp;quot;Proxima Nova&amp;quot;, sans-serif; font-size: 11pt;&quot;&gt;Thanks&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(53, 55, 68); font-family: &amp;quot;Proxima Nova&amp;quot;, sans-serif; font-size: 11pt;&quot;&gt;Best regards,&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EmailbodyforReview</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: &amp;quot;Proxima Nova&amp;quot;, sans-serif; color: rgb(53, 55, 68); background-color: transparent;&quot;&gt;Dear &lt;/span&gt;&lt;strong style=&quot;font-size: 11pt; font-family: &amp;quot;Proxima Nova&amp;quot;, sans-serif; color: rgb(53, 55, 68); background-color: transparent;&quot;&gt;{!$Record.SuppliedName}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: &amp;quot;Proxima Nova&amp;quot;, sans-serif; color: rgb(53, 55, 68); background-color: transparent;&quot;&gt;The below case is changed to Ready for Review.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 11pt; font-family: &amp;quot;Proxima Nova&amp;quot;, sans-serif; color: rgb(53, 55, 68); background-color: transparent;&quot;&gt;Case Number:&lt;/strong&gt;&lt;span style=&quot;font-size: 11pt; font-family: &amp;quot;Proxima Nova&amp;quot;, sans-serif; color: rgb(53, 55, 68); background-color: transparent;&quot;&gt; &lt;/span&gt;&lt;a href=&quot;{!$caseURL}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 11pt; font-family: &amp;quot;Proxima Nova&amp;quot;, sans-serif; color: rgb(53, 55, 68); background-color: transparent;&quot;&gt;{!$Record.CaseNumber}&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 11pt; font-family: &amp;quot;Proxima Nova&amp;quot;, sans-serif; color: rgb(53, 55, 68); background-color: transparent;&quot;&gt;Case Type: &lt;/strong&gt;&lt;span style=&quot;font-size: 11pt; font-family: &amp;quot;Proxima Nova&amp;quot;, sans-serif; color: rgb(53, 55, 68); background-color: transparent;&quot;&gt;{!$Record.RecordType.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 11pt; font-family: &amp;quot;Proxima Nova&amp;quot;, sans-serif; color: rgb(53, 55, 68); background-color: transparent;&quot;&gt;Priority:&lt;/strong&gt;&lt;span style=&quot;font-size: 11pt; font-family: &amp;quot;Proxima Nova&amp;quot;, sans-serif; color: rgb(53, 55, 68); background-color: transparent;&quot;&gt; {!$Record.Priority}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 11pt; font-family: &amp;quot;Proxima Nova&amp;quot;, sans-serif; color: rgb(53, 55, 68); background-color: transparent;&quot;&gt;Opportunity : &lt;/strong&gt;&lt;span style=&quot;font-size: 11pt; font-family: &amp;quot;Proxima Nova&amp;quot;, sans-serif; color: rgb(53, 55, 68); background-color: transparent;&quot;&gt;{!$Record.Opportunity__r.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 11pt; font-family: &amp;quot;Proxima Nova&amp;quot;, sans-serif; color: rgb(53, 55, 68); background-color: transparent;&quot;&gt;Created Date:&lt;/strong&gt;&lt;span style=&quot;font-size: 11pt; font-family: &amp;quot;Proxima Nova&amp;quot;, sans-serif; color: rgb(53, 55, 68); background-color: transparent;&quot;&gt;{!$Record.CreatedDate}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: &amp;quot;Proxima Nova&amp;quot;, sans-serif; color: rgb(53, 55, 68); background-color: transparent;&quot;&gt;Thanks&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: &amp;quot;Proxima Nova&amp;quot;, sans-serif; color: rgb(53, 55, 68); background-color: transparent;&quot;&gt;Best regards,&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EmailSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Record.RecordType.Name}  -  {!$Record.Opportunity__r.Name}  -  {!$Record.Due_Date__c}</text>
    </textTemplates>
    <textTemplates>
        <name>EmailSubjectCriticalTechOps</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>[CRITICAL] - {!$Record.RecordType.Name} - {!$Record.Account_Name__c} {!$Record.Opportunity__r.Name} - {!$Record.Due_Date__c}</text>
    </textTemplates>
    <textTemplates>
        <name>ExposureLogsBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 12pt; font-family: Arial, sans-serif; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;The &quot;Exposure Log&quot; Request/Issue Type has been submitted. Please find the details of the case below:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 11pt; font-family: &amp;quot;Proxima Nova&amp;quot;, sans-serif; color: rgb(53, 55, 68); background-color: transparent;&quot;&gt;Case Number:&lt;/strong&gt;&lt;span style=&quot;font-size: 11pt; font-family: &amp;quot;Proxima Nova&amp;quot;, sans-serif; color: rgb(53, 55, 68); background-color: transparent;&quot;&gt; &lt;/span&gt;&lt;a href=&quot;{!caseURL}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 11pt; font-family: &amp;quot;Proxima Nova&amp;quot;, sans-serif; color: rgb(53, 55, 68); background-color: transparent;&quot;&gt;{!$Record.CaseNumber}&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 11pt; font-family: &amp;quot;Proxima Nova&amp;quot;, sans-serif; color: rgb(53, 55, 68); background-color: transparent;&quot;&gt;Case Type: &lt;/strong&gt;&lt;span style=&quot;font-size: 11pt; font-family: &amp;quot;Proxima Nova&amp;quot;, sans-serif; color: rgb(53, 55, 68); background-color: transparent;&quot;&gt;{!$Record.RecordType.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 11pt; font-family: &amp;quot;Proxima Nova&amp;quot;, sans-serif; color: rgb(53, 55, 68); background-color: transparent;&quot;&gt;Priority:&lt;/strong&gt;&lt;span style=&quot;font-size: 11pt; font-family: &amp;quot;Proxima Nova&amp;quot;, sans-serif; color: rgb(53, 55, 68); background-color: transparent;&quot;&gt; {!$Record.Priority}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 11pt; font-family: &amp;quot;Proxima Nova&amp;quot;, sans-serif; color: rgb(53, 55, 68); background-color: transparent;&quot;&gt;Opportunity : &lt;/strong&gt;&lt;span style=&quot;font-size: 11pt; font-family: &amp;quot;Proxima Nova&amp;quot;, sans-serif; color: rgb(53, 55, 68); background-color: transparent;&quot;&gt;{!$Record.Opportunity__r.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 11pt; font-family: &amp;quot;Proxima Nova&amp;quot;, sans-serif; color: rgb(53, 55, 68); background-color: transparent;&quot;&gt;Created Date:&lt;/strong&gt;&lt;span style=&quot;font-size: 11pt; font-family: &amp;quot;Proxima Nova&amp;quot;, sans-serif; color: rgb(53, 55, 68); background-color: transparent;&quot;&gt;{!$Record.CreatedDate}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: &amp;quot;Proxima Nova&amp;quot;, sans-serif; color: rgb(53, 55, 68); background-color: transparent;&quot;&gt;Thanks&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: &amp;quot;Proxima Nova&amp;quot;, sans-serif; color: rgb(53, 55, 68); background-color: transparent;&quot;&gt;Best regards,&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ExposureLogssubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>The &quot;Exposure Logs&quot; were submitted for the Request/Issue Type.</text>
    </textTemplates>
    <textTemplates>
        <name>NotificationBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;You have been assigned a new case &lt;strong style=&quot;font-size: 14px;&quot;&gt;CaseNumber: &lt;/strong&gt;&lt;a href=&quot;{!caseURL}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 14px;&quot;&gt;&lt;strong&gt;{!$Record.CaseNumber}&lt;/strong&gt;&lt;/a&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>OwnerChangeEmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(53, 55, 68); font-family: &amp;quot;Proxima Nova&amp;quot;, sans-serif; font-size: 11pt;&quot;&gt;Dear &lt;/span&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(53, 55, 68); font-family: &amp;quot;Proxima Nova&amp;quot;, sans-serif; font-size: 11pt;&quot;&gt;{!$Record.SuppliedName}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(53, 55, 68); font-family: &amp;quot;Proxima Nova&amp;quot;, sans-serif; font-size: 11pt;&quot;&gt;I hope this email finds you well.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(53, 55, 68); font-family: &amp;quot;Proxima Nova&amp;quot;, sans-serif; font-size: 11pt;&quot;&gt;A new case has been assigned to you . &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(53, 55, 68); font-family: &amp;quot;Proxima Nova&amp;quot;, sans-serif; font-size: 11pt;&quot;&gt;Below are the details:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(53, 55, 68); font-family: &amp;quot;Proxima Nova&amp;quot;, sans-serif; font-size: 11pt;&quot;&gt;Case Number:&lt;/strong&gt;&lt;span style=&quot;background-color: transparent; color: rgb(53, 55, 68); font-family: &amp;quot;Proxima Nova&amp;quot;, sans-serif; font-size: 11pt;&quot;&gt; &lt;/span&gt;&lt;a href=&quot;{!caseURL}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: transparent; color: rgb(53, 55, 68); font-family: &amp;quot;Proxima Nova&amp;quot;, sans-serif; font-size: 11pt;&quot;&gt;{!$Record.CaseNumber}&lt;/a&gt; &lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(53, 55, 68); font-family: &amp;quot;Proxima Nova&amp;quot;, sans-serif; font-size: 11pt;&quot;&gt;Case Type: &lt;/strong&gt;&lt;span style=&quot;background-color: transparent; color: rgb(53, 55, 68); font-family: &amp;quot;Proxima Nova&amp;quot;, sans-serif; font-size: 11pt;&quot;&gt;{!$Record.RecordType.Name} &lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;| {!$Record.Subject__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(53, 55, 68); font-family: &amp;quot;Proxima Nova&amp;quot;, sans-serif; font-size: 11pt;&quot;&gt;Case Status: &lt;/strong&gt;&lt;span style=&quot;background-color: transparent; color: rgb(53, 55, 68); font-family: &amp;quot;Proxima Nova&amp;quot;, sans-serif; font-size: 11pt;&quot;&gt;{!$Record.Status}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(53, 55, 68); font-family: &amp;quot;Proxima Nova&amp;quot;, sans-serif; font-size: 11pt;&quot;&gt;Due Date:&lt;/strong&gt;&lt;span style=&quot;background-color: transparent; color: rgb(53, 55, 68); font-family: &amp;quot;Proxima Nova&amp;quot;, sans-serif; font-size: 11pt;&quot;&gt; {!$Record.Due_Date__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(53, 55, 68); font-family: &amp;quot;Proxima Nova&amp;quot;, sans-serif; font-size: 11pt;&quot;&gt;Priority:&lt;/strong&gt;&lt;span style=&quot;background-color: transparent; color: rgb(53, 55, 68); font-family: &amp;quot;Proxima Nova&amp;quot;, sans-serif; font-size: 11pt;&quot;&gt; {!$Record.Priority}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(53, 55, 68); font-family: &amp;quot;Proxima Nova&amp;quot;, sans-serif; font-size: 11pt;&quot;&gt;Opportunity : &lt;/strong&gt;&lt;span style=&quot;background-color: transparent; color: rgb(53, 55, 68); font-family: &amp;quot;Proxima Nova&amp;quot;, sans-serif; font-size: 11pt;&quot;&gt;{!$Record.Opportunity__r.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(53, 55, 68); font-family: &amp;quot;Proxima Nova&amp;quot;, sans-serif; font-size: 11pt;&quot;&gt;Created Date:&lt;/strong&gt;&lt;span style=&quot;background-color: transparent; color: rgb(53, 55, 68); font-family: &amp;quot;Proxima Nova&amp;quot;, sans-serif; font-size: 11pt;&quot;&gt;{!$Record.CreatedDate}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(53, 55, 68); font-family: &amp;quot;Proxima Nova&amp;quot;, sans-serif; font-size: 11pt;&quot;&gt;Please review the case details and take appropriate action within your assigned timeframe.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(53, 55, 68); font-family: &amp;quot;Proxima Nova&amp;quot;, sans-serif; font-size: 11pt;&quot;&gt;Thank you for your attention to this matter.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(53, 55, 68); font-family: &amp;quot;Proxima Nova&amp;quot;, sans-serif; font-size: 11pt;&quot;&gt;Best regards,&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>ApprovedEmaillistforMakegoods</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>closecaselistforMakegoods</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>closecaselistforMakegoods2</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmailforAM</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Emaillistforcriticalpriority</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EmailListForRFPAbove350</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ExposureLoglist</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Feasibilitylistforotherthannew</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Feasibiltyqueueid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>getAnnaMariaStathis</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InReviewApprovedNotApprovedEmaillistforMakegoods</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InReviewApprovedNotApprovedEmaillistforMakegoods2</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>KellyMcMahonEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>kpinote</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>listofEmail</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ListofEmailsforFeasibilityNew</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>listofEmailsforReadyforReview</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MakegoodsnewEmail1</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MakegoodsnewEmail2</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>MakegoodsnewEmail3</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ManagerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NatalyBabainEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NotApprovedEmaillistforMakegoods</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Oppprimarykpi</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>oppsecondarykpi</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QueueRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecipientsIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SalesdevEmaillist</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SergeMattaUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Techopslist</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>X3pvalue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
