force-app/main/default/flows/Clone_Opportunity_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <choices>
        <name>CloneOnlyOpportunity</name>
        <choiceText>Clone Only Opportunity</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>CloneOpportunityandIOProducts</name>
        <choiceText>Clone Opportunity and IO Products</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>Clone_Action</name>
        <label>Clone Action</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Clone_Opportunity_Only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Clone_Options</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CloneOnlyOpportunity</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Opportunity</targetReference>
            </connector>
            <label>Clone Opportunity Only</label>
        </rules>
        <rules>
            <name>Clone_Opportunity_and_IO_Products</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Clone_Options</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CloneOpportunityandIOProducts</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_IO_Products</targetReference>
            </connector>
            <label>Clone Opportunity and IO Products</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Clone Opportunity Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Clone Opportunity Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_IO_products</name>
        <label>Create IO products</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <inputReference>Get_Related_IO_Products</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Opportunity</name>
        <label>Create New Opportunity</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <inputReference>Get_Opportunity</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Opportunity1</name>
        <label>Create New Opportunity1</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Create_IO_products</targetReference>
        </connector>
        <inputReference>selectedOpportunity</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Clone_Action</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>selectedOpportunityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_IO_Products</name>
        <label>Get Related IO Products</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_New_Opportunity1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Clone_Opportunity_Options</name>
        <label>Clone Opportunity Options</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
        <fields>
            <name>Clone_Options</name>
            <choiceReferences>CloneOnlyOpportunity</choiceReferences>
            <choiceReferences>CloneOpportunityandIOProducts</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Clone Options</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Clone_Opportunity_Options</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>newOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>newOpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>selectedOpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
