force-app/main/default/flows/Deal_level_reporting_handler.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>lstinsert</name>
        <label>lstinsert</label>
        <locationX>138</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>insertdatalst</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>tempreporting</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_opp_seller</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>reporting_data_ins</name>
        <label>reporting data ins</label>
        <locationX>138</locationX>
        <locationY>1163</locationY>
        <assignmentItems>
            <assignToReference>tempreporting.Opportunity_Seller__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_opp_seller.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempreporting.Deal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempreporting.Opportunity_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Opportunity_Product__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>lstinsert</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_for_opp_seller_data</name>
        <label>check for opp seller data</label>
        <locationX>182</locationX>
        <locationY>947</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>has_data</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_opportunity_seller</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_opp_seller</targetReference>
            </connector>
            <label>has data</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_old_DLR_records_exists</name>
        <label>Check if old DLR records exists</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Get_opportunity_seller</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_old_Deal_Level_Reporting</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Old_Deal_Level_Reporting_Records</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsOpportuinityProductChanged_Or_IsNew</name>
        <label>IsOpportuinityProductChanged Or IsNew</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsOpportunityProductChanged</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity_Product__r.OpportunityId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Deal_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_old_Deal_Level_Reporting</targetReference>
            </connector>
            <label>IsOpportunityProductChanged</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Deal level reporting handler {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Deal level reporting handler</label>
    <loops>
        <name>loop_opp_seller</name>
        <label>loop opp seller</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <collectionReference>Get_opportunity_seller</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>reporting_data_ins</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>insert_deal_reporting</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>insert_deal_reporting</name>
        <label>insert deal reporting</label>
        <locationX>50</locationX>
        <locationY>1463</locationY>
        <inputReference>insertdatalst</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Old_Deal_Level_Reporting_Records</name>
        <label>Delete Old Deal Level Reporting Records</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Get_opportunity_seller</targetReference>
        </connector>
        <inputReference>Get_old_Deal_Level_Reporting</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_old_Deal_Level_Reporting</name>
        <label>Get old Deal Level Reporting</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_old_DLR_records_exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Deal__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Deal_level_reporting__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_opportunity_seller</name>
        <label>Get opportunity seller</label>
        <locationX>182</locationX>
        <locationY>839</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_for_opp_seller_data</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity_Product__r.Opportunity.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity_Seller__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>IsOpportuinityProductChanged_Or_IsNew</targetReference>
        </connector>
        <object>Deal__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>insertdatalst</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Deal_level_reporting__c</objectType>
    </variables>
    <variables>
        <name>tempreporting</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Deal_level_reporting__c</objectType>
    </variables>
</Flow>
