force-app/main/default/flows/Duplicate_Product_Identification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <constants>
        <name>ErrorMessage</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Each Product can only be added once in an opportunity. Please update the existing Billing Ad Server.</stringValue>
        </value>
    </constants>
    <customErrors>
        <name>you_cannot_create_mutiple_products</name>
        <label>you cannot create mutiple products</label>
        <locationX>264</locationX>
        <locationY>719</locationY>
        <connector>
            <targetReference>looping_ad_server</targetReference>
        </connector>
        <customErrorMessages>
            <errorMessage>{!ErrorMessage}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>check_if_product_exists</name>
        <label>check if product exists</label>
        <locationX>396</locationX>
        <locationY>611</locationY>
        <defaultConnector>
            <targetReference>looping_ad_server</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>product_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>looping_ad_server.Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Product__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Product__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Product__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>you_cannot_create_mutiple_products</targetReference>
            </connector>
            <label>product exists</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Duplicate Product Identification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Duplicate Product Identification</label>
    <loops>
        <name>looping_ad_server</name>
        <label>looping ad server</label>
        <locationX>176</locationX>
        <locationY>503</locationY>
        <collectionReference>adserverlist</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>check_if_product_exists</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_all_opp_ad_server</name>
        <label>get all opp ad server</label>
        <locationX>176</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>looping_ad_server</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_opp_records.Id</elementReference>
            </value>
        </filters>
        <object>Opportunity_Billing_Ad_Server__c</object>
        <outputReference>adserverlist</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Product__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>get_opp_records</name>
        <label>get opp records</label>
        <locationX>176</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_all_opp_ad_server</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_opp_records</targetReference>
        </connector>
        <object>Opportunity_Billing_Ad_Server__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>adserverlist</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity_Billing_Ad_Server__c</objectType>
    </variables>
</Flow>
