force-app/main/default/flows/For_Parent_App.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_Action</name>
        <label>Email Action</label>
        <locationX>248</locationX>
        <locationY>539</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>check_Opp</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>listforProposalrequested</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>SubjectforProposalrequested</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>BodyforProposalrequested</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Email_Alert</name>
        <label>Email Alert</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Email_Alert2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>EmaillistforTotalBookingAmount</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>BodyforTotalBookedAmountNearingTotalCommittedAmount</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Email_Alert2</name>
        <label>Email Alert2</label>
        <locationX>50</locationX>
        <locationY>1163</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>EmaillistforTotalBookingAmount2</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>BodyforTotalBookedAmountNearingTotalCommittedAmount</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Assign_Total_Booking_Amount</name>
        <label>Assign Total Booking Amount</label>
        <locationX>50</locationX>
        <locationY>947</locationY>
        <assignmentItems>
            <assignToReference>EmaillistforTotalBookingAmount</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>kellym@lgads.tv</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmaillistforTotalBookingAmount2</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>nataly.babain@lgads.tv</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmaillistforTotalBookingAmount</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>dave@lgads.tv</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmaillistforTotalBookingAmount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.CSM__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmaillistforTotalBookingAmount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.CSM__r.AM_Lead__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmaillistforTotalBookingAmount2</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Owner.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Email_Alert</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Email_To_Proposal_requested</name>
        <label>Email To Proposal requested</label>
        <locationX>248</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>listforProposalrequested</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>kellym@lgads.tv</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>listforProposalrequested</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>nataly.babain@lgads.tv</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Email_Action</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_Opp</name>
        <label>check Opp</label>
        <locationX>380</locationX>
        <locationY>731</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Parent_Opp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Parent_Opportunity</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Total_Commited_Amount__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>check_Total_Booking_Amount</targetReference>
            </connector>
            <label>Is Parent Opp</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Stage</name>
        <label>Check Stage</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>check_Opp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_proposal_requested</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Proposal Requested</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Parent_Opportunity</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_To_Proposal_requested</targetReference>
            </connector>
            <label>Is proposal requested</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_Total_Booking_Amount</name>
        <label>check Total Booking Amount</label>
        <locationX>182</locationX>
        <locationY>839</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Greater_than_90</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>TotalCommitedAmount90percent</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Total_Booking_Amount</targetReference>
            </connector>
            <label>Is Greater than 90%</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Oppurllink</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_600}, FIND(&apos;/services&apos;, {!$Api.Partner_Server_URL_600})) &amp; {!$Record.Id}</expression>
    </formulas>
    <formulas>
        <name>TotalCommitedAmount90percent</name>
        <dataType>Number</dataType>
        <expression>(0.90 * {!$Record.Total_Commited_Amount__c})</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>For Parent App {!$Flow.CurrentDateTime}</interviewLabel>
    <label>For Parent Opportunity Automation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Stage</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>BodyforProposalrequested</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14.6667px; font-family: &amp;quot;Proxima Nova&amp;quot;, sans-serif; color: rgb(53, 55, 68);&quot;&gt;The Opportunity has been Updated to {!$Record.StageName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: Inter, sans-serif; color: rgb(28, 28, 28);&quot;&gt;Here are the details:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: Inter, sans-serif; color: rgb(28, 28, 28);&quot;&gt;Opportunity Name: &lt;/span&gt;&lt;a href=&quot;{!Oppurllink}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: Inter, sans-serif; color: rgb(28, 28, 28);&quot;&gt;{!$Record.Name}  &lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: Inter, sans-serif; color: rgb(28, 28, 28);&quot;&gt;Opportunity Id: {!$Record.Id}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(28, 28, 28); font-family: Inter, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Due Date: {!$Record.Due_Date__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;{!Oppurllink}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Click Here For Link&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: Inter, sans-serif; color: rgb(28, 28, 28);&quot;&gt;Please take the necessary actions.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: Inter, sans-serif; color: rgb(28, 28, 28);&quot;&gt;﻿Best regards,&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>BodyforTotalBookedAmountNearingTotalCommittedAmount</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;color: rgb(28, 28, 28); font-family: Inter, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;This email is to let you know that the Total Booking Amount has reached 90% or more of the Total Committed Amount. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(28, 28, 28); font-family: Inter, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Here are the details:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(28, 28, 28); font-family: Inter, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Opportunity Name: &lt;/span&gt;&lt;a href=&quot;{!Oppurllink}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(28, 28, 28); font-family: Inter, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.Name} &lt;/a&gt;&lt;span style=&quot;color: rgb(28, 28, 28); font-family: Inter, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt; &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(28, 28, 28); font-family: Inter, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Total Booking Amount: {!$Record.Amount}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(28, 28, 28); font-family: Inter, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Total Committed Amount: {!$Record.Total_Commited_Amount__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;{!Oppurllink}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Click Here For Link&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(28, 28, 28); font-family: Inter, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Please take the necessary actions.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(28, 28, 28); font-family: Inter, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;﻿Best regards,&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>OppURL</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>LEFT({!$Api.Partner_Server_URL_600}, FIND(&apos;/services&apos;, {!$Api.Partner_Server_URL_600})) &amp; {!$Record.Id}</text>
    </textTemplates>
    <textTemplates>
        <name>Subject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Booked Amount is Nearing/Over Committed Amount - {!$Record.Name}</text>
    </textTemplates>
    <textTemplates>
        <name>SubjectforProposalrequested</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Rate Card Proposal Requested - {!$Record.Name}</text>
    </textTemplates>
    <variables>
        <name>EmaillistforTotalBookingAmount</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmaillistforTotalBookingAmount2</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>listforProposalrequested</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
