force-app/main/default/flows/Opp_level_Default_billing_ad_server_is_updation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>billing_collection</name>
        <label>billing collection</label>
        <locationX>490</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>Billingcollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>billingserverrecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>looping_all_ad_server</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>billing_instance</name>
        <label>billing instance</label>
        <locationX>490</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>billingserverrecord.Billing_Ad_Server__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>looping_all_ad_server.Billing_Ad_Server__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>billingserverrecord.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>billingserverrecord.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>looping_all_ad_server.Product__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>billing_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_billing_collection</name>
        <label>Copy 1 of billing collection</label>
        <locationX>138</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>Billingcollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>billingserverrecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_looping_all_ad_server</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_billing_instance</name>
        <label>Copy 1 of billing instance</label>
        <locationX>138</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>billingserverrecord.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>billingserverrecord.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_looping_all_ad_server.Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>billingserverrecord.Billing_Ad_Server__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_looping_all_ad_server.Billing_Ad_Server__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_billing_collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_if_opp_ad_server_exists_and_billing_changed</name>
        <label>check if opp ad server exists and billing changed</label>
        <locationX>798</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>update_related</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>record_donot_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_opp_ad_server_records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>create_opp_billing_ad_server</targetReference>
            </connector>
            <label>record do not exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_if_opp_is_cloned_and_billing_changed</name>
        <label>check if opp is cloned and billing changed</label>
        <locationX>622</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Clone_Edit_Default_BAS_Creation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.cloned_id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Default_Billing_Ad_Server__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Default_Billing_Ad_Server__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>default_and_changed_billing</targetReference>
            </connector>
            <label>Clone &amp; Edit Default BAS (Creation)</label>
        </rules>
        <rules>
            <name>Outcome_1_of_check_if_opp_is_cloned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.cloned_id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Default_Billing_Ad_Server__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_opp_billing_ad_server_records</targetReference>
            </connector>
            <label>Clone &amp; Not changing Default BAS (Creation)</label>
        </rules>
        <rules>
            <name>Opp_Default_BAS_Edit</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Default_Billing_Ad_Server__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_opp_ad_server_records</targetReference>
            </connector>
            <label>Opp Default BAS Edit or Regular Creation</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Opp level Default billing ad server is updation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opp level Default billing ad server is updation</label>
    <loops>
        <name>Copy_1_of_looping_all_ad_server</name>
        <label>Copy 1 of looping all ad server</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <collectionReference>Copy_1_of_get_opp_billing_ad_server_records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_1_of_billing_instance</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Copy_1_of_create_billing_records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>looping_all_ad_server</name>
        <label>looping all ad server</label>
        <locationX>402</locationX>
        <locationY>539</locationY>
        <collectionReference>get_opp_billing_ad_server_records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>billing_instance</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>create_billing_records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Copy_1_of_create_billing_records</name>
        <label>Copy 1 of create billing records</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <inputReference>Billingcollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>create_billing_records</name>
        <label>create billing records</label>
        <locationX>402</locationX>
        <locationY>947</locationY>
        <inputReference>Billingcollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>create_opp_billing_ad_server</name>
        <label>create opp billing ad server</label>
        <locationX>666</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Billing_Ad_Server__c</field>
            <value>
                <elementReference>$Record.Default_Billing_Ad_Server__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <stringValue>Default</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity_Billing_Ad_Server__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>default_and_changed_billing</name>
        <label>default and changed billing</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Copy_1_of_get_opp_billing_ad_server_records</targetReference>
        </connector>
        <inputAssignments>
            <field>Billing_Ad_Server__c</field>
            <value>
                <elementReference>$Record.Default_Billing_Ad_Server__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <stringValue>Default</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity_Billing_Ad_Server__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Copy_1_of_get_opp_billing_ad_server_records</name>
        <label>get opp billing ad server records</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_looping_all_ad_server</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.cloned_id__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Default</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity_Billing_Ad_Server__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_opp_ad_server_records</name>
        <label>get opp ad server records</label>
        <locationX>798</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_if_opp_ad_server_exists_and_billing_changed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Default</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity_Billing_Ad_Server__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_opp_billing_ad_server_records</name>
        <label>get opp billing ad server records</label>
        <locationX>402</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>looping_all_ad_server</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.cloned_id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity_Billing_Ad_Server__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_related</name>
        <label>update related</label>
        <locationX>930</locationX>
        <locationY>647</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Default</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Billing_Ad_Server__c</field>
            <value>
                <elementReference>$Record.Default_Billing_Ad_Server__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity_Billing_Ad_Server__c</object>
    </recordUpdates>
    <start>
        <locationX>496</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>check_if_opp_is_cloned_and_billing_changed</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>billingAdserver</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Billingcollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity_Billing_Ad_Server__c</objectType>
    </variables>
    <variables>
        <name>billingserverrecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity_Billing_Ad_Server__c</objectType>
    </variables>
</Flow>
