force-app/main/default/flows/Opportunity_After_Save_Trigger.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>opp_to_case_sync</name>
        <label>opp to case sync</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_kpi_fields_changed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.KPI_Note__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Primary_KPI__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.X3P_Verification_Partner__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Secondary_KPI__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_case_fields</targetReference>
            </connector>
            <label>If kpi fields changed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>SplitUserName</name>
        <dataType>String</dataType>
        <expression>LEFT({!OwnerName}, FIND(&quot;-&quot;, {!OwnerName}) - 2)</expression>
    </formulas>
    <interviewLabel>Opportunity - After Save Trigger {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - After Save Trigger</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_case_fields</name>
        <label>Update case fields</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>RFP</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>KPI_Notes__c</field>
            <value>
                <elementReference>$Record.KPI_Note__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_KPI__c</field>
            <value>
                <elementReference>$Record.Primary_KPI__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Secondary_KPI__c</field>
            <value>
                <elementReference>$Record.Secondary_KPI__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Third_Party_Verification_Partners__c</field>
            <value>
                <elementReference>$Record.X3P_Verification_Partner__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Cases__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>opp_to_case_sync</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>OwnerName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OwnerRoleId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
