force-app/main/default/flows/Opportunity_Product.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Assign_rate_and_original_booking_amt</name>
        <label>Assign rate and original booking amt</label>
        <locationX>864</locationX>
        <locationY>1103</locationY>
        <assignmentItems>
            <assignToReference>$Record.Original_Booking_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>cal_Total_price2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>cal_Total_price</name>
        <label>cal Total price</label>
        <locationX>50</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>TotalAmtcal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Original_Booking_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalAmtcal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Incremental_Booking_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Total_Booking_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TotalAmtcal</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>set_io_Impression_goal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>cal_Total_price2</name>
        <label>cal Total price2</label>
        <locationX>864</locationX>
        <locationY>1211</locationY>
        <assignmentItems>
            <assignToReference>TotalAmtcal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Original_Booking_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalAmtcal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Incremental_Booking_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Total_Booking_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TotalAmtcal</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_Total_Amt_rate_original_booking_amt</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Cal_Total_price3</name>
        <label>Cal Total price3</label>
        <locationX>754</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>TotalAmtcal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Original_Booking_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalAmtcal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Incremental_Booking_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Total_Booking_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TotalAmtcal</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Rate_total_booking_amount_assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Rate_total_booking_amount_assignment</name>
        <label>Rate, total booking amount assignment</label>
        <locationX>754</locationX>
        <locationY>719</locationY>
        <assignmentItems>
            <assignToReference>$Record.Total_Booking_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TotalAmtcal</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>set_io_Impression_goal</name>
        <label>set io Impression goal</label>
        <locationX>50</locationX>
        <locationY>719</locationY>
        <assignmentItems>
            <assignToReference>$Record.IO_Impression_Goal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ioimpCalculation</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Total_amount_assignment</name>
        <label>Total amount assignment</label>
        <locationX>1722</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.Total_Booking_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TotalAmtcal</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Total_Cal_Before_IO</name>
        <label>Total Cal (Before IO</label>
        <locationX>1722</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>TotalAmtcal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Original_Booking_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalAmtcal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Incremental_Booking_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Total_Booking_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TotalAmtcal</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Total_amount_assignment</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Placement_Category</name>
        <label>Check Placement Category</label>
        <locationX>270</locationX>
        <locationY>503</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Regular</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Placement_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Regular</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>cal_Total_price</targetReference>
            </connector>
            <label>Is Regular</label>
        </rules>
        <rules>
            <name>Is_Added_value_MakeGood</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Placement_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Added Value</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Placement_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Make Good</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_rate_and_original_booking_amt</targetReference>
            </connector>
            <label>Is Added value/MakeGood</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Placement_Category_For_RB</name>
        <label>Check Placement Category For RB</label>
        <locationX>974</locationX>
        <locationY>503</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Regular</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Placement_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Regular</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cal_Total_price3</targetReference>
            </connector>
            <label>Regular</label>
        </rules>
        <rules>
            <name>Added_value_MakeGood</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Placement_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Added Value</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Placement_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Make Good</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_rate_and_original_booking_amt</targetReference>
            </connector>
            <label>Added value/MakeGood</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Placement_Type</name>
        <label>Check Placement Type</label>
        <locationX>864</locationX>
        <locationY>395</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_ROS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Placement_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ROS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Placement_Category</targetReference>
            </connector>
            <label>Is ROS</label>
        </rules>
        <rules>
            <name>Is_RB</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Placement_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Targeted RB</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Placement_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Non-Targeted RB</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Placement_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Content Store RB</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Placement_Category_For_RB</targetReference>
            </connector>
            <label>Is RB</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Record_Type_and_Date</name>
        <label>Check Record Type and Date</label>
        <locationX>1293</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Total_Cal_Before_IO</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Managed_Services</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1-Managed Service</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Placement_Type</targetReference>
            </connector>
            <label>Is Managed Services (After LWC)</label>
        </rules>
    </decisions>
    <description>Change all updates to assignments</description>
    <environments>Default</environments>
    <formulas>
        <name>calculateTotalbookingAmount</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Original_Booking_Amount__c}+{!$Record.Incremental_Booking_Amount__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>IO_Placement_Deploy_Date</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!$Label.IO_Placement_Deployment_Date})</expression>
    </formulas>
    <formulas>
        <name>ioimpCalculation</name>
        <dataType>Number</dataType>
        <expression>CEILING({!$Record.Total_Booking_Amount__c} * 1000 / {!$Record.Rate__c})</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Opportunity Product {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Product</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>update_Total_Amt_rate_original_booking_amt</name>
        <label>update Total Amt, rate, original booking amt</label>
        <locationX>864</locationX>
        <locationY>1319</locationY>
        <inputAssignments>
            <field>Original_Booking_Amount__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Booking_Amount__c</field>
            <value>
                <elementReference>TotalAmtcal</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1167</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Record_Type_and_Date</targetReference>
        </connector>
        <object>OpportunityLineItem</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>TotalAmtcal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
