force-app/main/default/flows/Opportunity_Stage_Change.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Notify csm on opportunity stage change</description>
        <name>OpportunityStageChanged</name>
        <label>OpportunityStageChanged</label>
        <locationX>804</locationX>
        <locationY>126</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>OpportunityStageChangedTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>{!$Record.CSM__r.Username}, {!$Record.Owner.Username}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>$Record.Owner.Username</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>{!$Record.Name} opportunity has moved to {!$Record.StageName}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <decisions>
        <description>if opporutnity has changed state. eg-&gt; Negotiation to Verbal confirm</description>
        <name>Opportunity_Stage_Changed</name>
        <label>Opportunity Stage Changed</label>
        <locationX>524</locationX>
        <locationY>125</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.StageName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OpportunityStageChanged</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Notify CSM on stage change of opportunity tracked.</description>
    <formulas>
        <name>DOMAIN_NAME</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Enterprise_Server_URL_100}, FIND( &apos;/services&apos;, {!$Api.Enterprise_Server_URL_100}))</expression>
    </formulas>
    <interviewLabel>Opportunity Stage Change {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Stage Change</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Opportunity_Stage_Changed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>OpportunityStageChangedTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi,&lt;/p&gt;&lt;p&gt;The opportunity &lt;span style=&quot;color: rgb(49, 12, 228);&quot;&gt;{!$Record.Name}&lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; that you were tracking has moved to a new stage.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;Old stage: {!$Record__Prior.StageName}&lt;/p&gt;&lt;p&gt;New stage: {!$Record.StageName}&lt;/p&gt;&lt;p&gt;URL: {!DOMAIN_NAME}{!$Record.Id}&lt;/p&gt;</text>
    </textTemplates>
</Flow>
