force-app/main/default/flows/Opportunity_Marketing_Support_Action.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_to_Marketing_Team</name>
        <label>Send Email to Marketing Team</label>
        <locationX>630</locationX>
        <locationY>269</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Send_Slack_Alert_to_Marketing_Team</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>emailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>marketing-team@alphonso.tv</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Support needed for Opportunity - {!Current_Opportunity.Name}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Slack_Alert_to_Marketing_Team</name>
        <label>Send Slack Alert to Marketing Team</label>
        <locationX>847</locationX>
        <locationY>269</locationY>
        <actionName>SlackOppMarketingAlert</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>customNote</name>
            <value>
                <elementReference>noteDetails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>domainURL</name>
            <value>
                <elementReference>DOMAIN_URL</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>opportuntiyRecord</name>
            <value>
                <elementReference>Current_Opportunity</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userName</name>
            <value>
                <elementReference>FullName</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SlackOppMarketingAlert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <formulas>
        <name>DOMAIN_URL</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Enterprise_Server_URL_100}, FIND( &apos;/services&apos;, {!$Api.Enterprise_Server_URL_100}))</expression>
    </formulas>
    <formulas>
        <name>FullName</name>
        <dataType>String</dataType>
        <expression>{!$User.FirstName} + &apos; &apos; + {!$User.LastName}</expression>
    </formulas>
    <interviewLabel>Opportunity Marketing Support - Action {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Marketing Support - Action</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Current_Opportunity</name>
        <label>Current Opportunity</label>
        <locationX>176</locationX>
        <locationY>269</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Marketing_Support_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Marketing_Support_Screen</name>
        <label>Marketing Support Screen</label>
        <locationX>402</locationX>
        <locationY>269</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Send_Email_to_Marketing_Team</targetReference>
        </connector>
        <fields>
            <name>marketingTeamNoteLabel</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;Please provide a note to the marketing team&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>noteDetails</name>
            <fieldText>Details</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>52</locationY>
        <connector>
            <targetReference>Current_Opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>emailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi,&lt;/p&gt;&lt;p&gt;{!FullName} needs help with Opportunity - &lt;a href=&quot;{!DOMAIN_URL}{!Current_Opportunity.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(85, 85, 255);&quot;&gt;{!Current_Opportunity.Name}&lt;/a&gt;.&lt;/p&gt;&lt;p&gt;&lt;b&gt;Custom Note:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!noteDetails}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Opportunity Details:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Id: {!Current_Opportunity.Id}&lt;/p&gt;&lt;p&gt;Campaign Name: {!Current_Opportunity.Name}&lt;/p&gt;&lt;p&gt;Stage: {!Current_Opportunity.StageName}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
