force-app/main/default/flows/Programmatic_Billing_Landing_Before_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assign_Status_field</name>
        <label>Assign Status field</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status_Changed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_values_to_Fields</name>
        <label>Assign values to Fields</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Amount_Changed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Difference_in_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DifferenceinAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Change_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FormattedCurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Status_field</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Amount_Field</name>
        <label>Check Amount Field</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Check_Status_field</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Amount_field_was_modified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amount__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Amount__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Amount__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_values_to_Fields</targetReference>
            </connector>
            <label>If Amount field was modified</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Status_field</name>
        <label>Check Status field</label>
        <locationX>182</locationX>
        <locationY>587</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Status_field</targetReference>
            </connector>
            <label>Status Changed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>DifferenceinAmount</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.Amount__c}-{!$Record__Prior.Amount__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>FormattedCurrentDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Programmatic Billing Landing Before Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Programmatic Billing Landing Before Save</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Amount_Field</targetReference>
        </connector>
        <object>Programmatic_Billing_Landing__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
