force-app/main/default/flows/RoundedUp_Impression_Goal.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>io_null</name>
        <label>IO null</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IO_Not_null</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IO_Impression_Goal__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IO_Impression_Goal__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RoundedValue</targetReference>
            </connector>
            <label>IO Not null</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>RoundedUpImpressionGoal</name>
        <dataType>Number</dataType>
        <expression>CEILING({!$Record.IO_Impression_Goal__c})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>RoundedUp Impression Goal {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RoundedUp Impression Goal</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>RoundedValue</name>
        <label>RoundedValue</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>IO_Impression_Goal__c</field>
            <value>
                <elementReference>RoundedUpImpressionGoal</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>io_null</targetReference>
        </connector>
        <object>OpportunityLineItem</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
