force-app/main/default/flows/Update_Billing_contact_and_account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <environments>Default</environments>
    <formulas>
        <name>emaildomain</name>
        <dataType>String</dataType>
        <expression>RIGHT({!$Record.Email__c}, LEN({!$Record.Email__c}) - FIND(&apos;@&apos;, {!$Record.Email__c}))</expression>
    </formulas>
    <formulas>
        <name>Firstname</name>
        <dataType>String</dataType>
        <expression>LEFT( {!$Record.Name__c} , FIND(&quot; &quot;, {!$Record.Name__c}) - 1)</expression>
    </formulas>
    <formulas>
        <name>lastname</name>
        <dataType>String</dataType>
        <expression>RIGHT( {!$Record.Name__c} , LEN( {!$Record.Name__c} ) - FIND(&quot; &quot;, {!$Record.Name__c} ))</expression>
    </formulas>
    <interviewLabel>Update Billing contact and account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Billing contact and account</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_contact</name>
        <label>Create contact</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>update_contact_details</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_account.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>Firstname</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>lastname</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>$Record.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <elementReference>$Record.Role_Title__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_account</name>
        <label>Get account</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>Contains</operator>
            <value>
                <elementReference>emaildomain</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_account</name>
        <label>update account</label>
        <locationX>176</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Instructions_and_Login_Credentials__c</field>
            <value>
                <elementReference>$Record.Instructions_and_Login_Credentials__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_upload_on_client_portal__c</field>
            <value>
                <elementReference>$Record.Upload_Invoices__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PO_Required__c</field>
            <value>
                <elementReference>$Record.Need_PO_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Method__c</field>
            <value>
                <elementReference>$Record.Payment_Method__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Portal_URL__c</field>
            <value>
                <elementReference>$Record.Portal_URL__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Account__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_contact_details</name>
        <label>update contact details</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>update_account</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Get_account.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>Create_contact</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_account</targetReference>
        </connector>
        <object>Billing_Information_form_entry__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
